.panel-grid {
  margin: 0 !important;
}
.page-template-rdc-guide{
  .site-content{
    .panel-grid-cell{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
.upToHeader{
  position: relative;
  top: -30px;
  margin-bottom: -30px;
}
.oneAgent{
  width: 380px;
  border: 1px solid #dcddde;
  border-radius: 5px;
  margin: 20px 0;
  background: @white;
  &> img{
    display: block;
    margin: 40px auto;
  }
  &>h3{
    color: #747375;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  &>span{
    color: #5a595c;
    display: block;
    font-weight: 200;
    text-align: center;
    margin: 11px 0 30px;
  }
  &>ul{
    background: #f3f0e9;
    border-radius: 0 0 5px 5px;
    margin: 58px 0 0;
    li{
      display: inline-block;
      width: 123px;
      border-right: 1px solid #eeeaea;
      text-align: center;
      padding: 22px 0 15px;
      &:last-child{
        border-right: none;
      }
      div{
        color: #555555;
        font-size: 1.1em;
        font-weight: 500;
      }
      span{
        font-size: 1em;
        font-weight: 200;
        color: #919093;
      }
    }
  }
  .oneAgentLinksBlock{
    text-align: center;
    a{
      background: @buttons;
      width: 150px;
      color: @white;
      font-size: 1em;
      border-radius: 5px;
      display: inline-block;
      padding: 15px 0;
      margin: 0 5px;
    }
  }
}
/* Go featured image */
.ftrdImgGoTop{
  padding: 0 !important;
  position: relative;
  top: -16px;
  margin-bottom: -16px;
}
.featuredImageHeader {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  height: 700px;
  position: relative;
  top: -74px;
  .singleHeroIcon{
    background: @white;
    border-radius: 50%;
    font-size: 2.5em;
    height: 70px;
    left: 47%;
    padding-top: 15px;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 70px;
    color: @buttons;
    span{
      display: block;
      width: 50px;
      height: 50px;
      margin-left: 10px;
      margin-top: 3px;
    }
  }
}
.archiveImageHeader {
  background-image: url('../images/src/archive-header.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  height: 555px;
  padding-top: 10%;
  position: relative;
  top: -74px;
  h1{
    margin: 0 0 20px 0;
    color: @white;
    font-size: 5em;
    text-align: center;
    font-weight: 600;
  }
  h3{
    color: @white;
    line-height: 1.8em;
    padding: 0 20%;
    text-align: center;
  }
}
.single {
  .singleTitle {
    color: @white;
    font-size: 2.2em;
    font-weight: 600;
    margin: auto;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    top: 35%;
    width: 60%;
    line-height: 1.5em;
  }
  .singleExcerpt{
    color: #ededed;
    font-size: 1.4em;
    font-weight: 400;
    margin: 1% auto 5%;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
    width: 70%;
  }
  .singleSocialBlock{
    width: 30%;
    margin: auto;
    text-align: center;
    li{
      display: inline-block;
      a{
        border-radius: 50%;
        color: @white;
        display: block;
        font-size: 1.2em;
        height: 40px;
        margin-right: 15%;
        outline: medium none;
        padding-top: 27%;
        text-align: center;
        width: 40px;
        &:hover{
          text-decoration: none;
        }
        &.icon-wpproperty-social-facebook-symbol{
          background: #5d82d1 none repeat scroll 0 0;
        }
        &.icon-wpproperty-social-twitter-symbol{
          background: #40BFF5 none repeat scroll 0 0;
        }
        &.icon-wpproperty-social-googleplus-symbol{
          background: #EB5E4C none repeat scroll 0 0;
        }
      }
    }
  }
  .content{
    color: #5a595c;
    font-size: 1.2em;
    letter-spacing: 1px;
    h2{
      font-size: 2em;
    }
    blockquote{
      border-left: 5px solid @buttons;
      background: #f8f7f7 none repeat scroll 0 0;
      font-style: italic;
      padding: 10px 30px;
      font-size: 1.2em;
    }
    p{
      &:first-child{
        margin-top: 0;
      }
      margin: 5% 0;
    }
    a{
      color: @buttons;
    }
    .singleSocialBlock{
      margin-bottom: 10%;
      margin-top: 7%;
      li{
        a{
          padding-top: 21%;
        }
      }
    }
  }
  .featuredImageHeader{
    padding-top: 15%;
  }
  .loadMoreBlockSeparate{
    border-top: 1px solid #efefef;
    padding-top: 55px;
  }
}
.oneCategory{
  width: 380px;
  height: 460px;
  border-radius: 5px;
  position: relative;
  margin: 20px 0;
  -moz-box-shadow: 0px 0px 3px #f3f0e9;
  -webkit-box-shadow: 0px 0px 3px #f3f0e9;
  box-shadow: 0px 0px 3px #f3f0e9;
  border: 1px solid #f3f0e9;
  overflow: hidden;
  .oneCategoryImg{
    height: 280px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    background: #efefef none repeat scroll 0 0;
    &>img {
      height: 100%;
      width: 100%;

    }
  }
  .catIconLoop{
    background: @white;
    border-radius: 50%;
    height: 80px;
    left: 40%;
    position: absolute;
    top: 245px;
    width: 80px;
    img{
      display: block;
      margin: 11px auto;
    }
    .icon{
      color: @buttons;
      font-size: 2.5em;
      position: relative;
      top: 15px;
      left: 23px;
    }
  }
  &>a{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #5a595c;
    transition: .5s color;

    &:hover {
      text-decoration: none;
      color: @buttons;
    }

    .one_text {
      margin: 0 25px;
    }
  }
}
.archiveFilterBg {
  background: #f3f0e9;
  height: 80px;
  position: relative;
  top: -90px;
  .archiveFilterBody {
    line-height: 80px;
    text-align: center;
    ul {
      margin: 0;
      li {

        position: relative;
        display: inline-block;
        border-right: 1px solid #d0d4d9;
        a {
          padding: 0 50px 0 50px;
          color: #5a595c;
          display: block;
          transition: .3s color;
          &:hover{
            text-decoration: none;
            color: #d03528;
          }
          span{
            display: inline-block;
            width: 50px;
            height: 50px;
            font-size: 2em;
            position: relative;
            top: 5px;
          }
        }
        .icon{
          font-size: 2.1em;
          position: absolute;
          top: 23px;
          left: 43px;
        }
        &:last-child{
          border-right: none;
        }
      }
    }
  }
}
.frontPageSearchBlock {
  background-image: url('../images/src/main-page-pic.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  min-height: 555px;
  padding-top: 10%;
  position: relative;
  top: -90px;
  margin-bottom: -20px;
  z-index: 7;
  &>h1{
    color: #fff;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
  }
  &>h4{
    color: #fff;
    font-weight: 300;
    line-height: 2em;
    margin: 1.5% auto 3%;
    text-align: center;
    text-shadow: 0 0 1px #ddd;
    width: 70%;

  }
  .searchForm {
    width: 65%;
    min-width: 785px;
    margin: auto;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    .nav-tabs{
      margin-right: 4px;
      .formTabs{
          a{
            margin-right: 0 !important;
          }
      }
      .active{
        background: rgba(46, 47, 49, 1) none repeat scroll 0 0;
      }
      li{
        float: none;
      }
    }
    &>ul {
      margin: 0;
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      float: left;
      &>li {
        display: inline-block;
        background: rgba(46, 47, 49, 0.5);
        height: 45px;
        line-height: 3.5em;
        border-radius: 5px 5px 0 0;
        border: medium none;
      }

      a {
        padding: 0 1.7em !important;
        color: @white !important;
        display: block;
        line-height: unset;
        background: rgba(46, 47, 49, 0.6) !important;
        border: none !important;
        border-radius: 5px 5px 0 0;
        &:hover {
          text-decoration: none;
          background: rgba(46, 47, 49, 0.6) !important;
          border: none !important;
        }
        &:focus{
          outline: none;
        }
      }
    }
    .ui-state-active {
      background: #2f2e31;
    }
  form {
      background: #2f2e31;
      padding: 12px 13px 11px 13px;
      border-radius: 0 5px 5px 5px;
      height: 85px;
      margin-top: -2px;
      position: relative;
      ul {
        background: #fff none repeat scroll 0 0;
        padding: 1.5em 1em 1em;
        box-shadow: -1px 7px 12px -5px #000;
        li{

        }
      }
      input {
        &[type="submit"] {
          border-radius: 5px;
          background: @buttons;
          color: @white;
          font-size: 1.1em;
          font-weight: 400;
          padding: 21px 20px;
          border: medium none;
          float: right;
        }
        }
      .location{
        float: left;
        background: #f8f8f8 none repeat scroll 0 0;
        border-radius: 5px 0 0 5px;
        color: #808285;
        padding-top: 3px;
        position: relative;
        width: 40%;
        height: 4.5em;
        .citiesSelection{
          background: #f8f8f8 none repeat scroll 0 0;
          border: medium none;
          padding: 0.44em 0.6em;
        }
        .select2 {
          height: 58px;
          padding-left: 35px;
          color: #A7A9AC;
          min-width: 100%;
          .select2-selection {
            border: none;
            background: none;
            height: 43px !important;
          }
        }
        .icon-location{
          bottom: 15px;
          left: 10px;
          position: absolute;
        }
        .tags{
          &::-webkit-input-placeholder {color:#242526;}
          &::-moz-placeholder          {color:#242526;}/* Firefox 19+ */
          &:-moz-placeholder           {color:#242526;}/* Firefox 18- */
          &:-ms-input-placeholder      {color:#242526;}
        }
        .select2-selection__arrow{
          height: 55px;
          width: 50px;
          b{
            border-color: #a7a9ac transparent transparent;
          }
        }
        .select2-selection__rendered{
          line-height: 55px !important;
        }
        .sf-icon{
          font-size: 1.3em;
          left: 12px;
          position: absolute;
          top: 20px;
          color: #a7a9ac;
        }
      }
    .sfBeds, .sfBaths, .sfPrice{
      border-radius: 0;
      background: #f8f8f8 none repeat scroll 0 0;
      width: 15.5%;
      height: 46px;
      float: left;
      border-left: 1px solid #e6e6e6;
      height: 4.5em;
      .sf-icon{
        font-size: 1.3em;
        left: 20px;
        position: absolute;
        top: 20px;
      }
      > span{
        display: block;
        height: 61px;
        line-height: 4.5em;
        cursor: context-menu;
        color: #A7A9AC;
        position: relative;
        cursor: pointer;
        padding-left: 60px;
        .sf-arrow{
          border-color: #a7a9ac transparent transparent;
          border-style: solid;
          border-width: 5px 4px 0;
          position: absolute;
          right: 22px;
          top: 29px;
        }
      }
      &>ul{
        display: none;
      }
    }
    .sfPrice{
      border-radius: 0 5px 5px 0;
    }
    .sfPriceRange{
      display: none;
    }
    .sf-property-quantity{
      bottom: -45px;
      color: #fff;
      position: absolute;
      opacity: 0.8;
      b{
        border: 2px solid;
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        line-height: 16px;
        padding-bottom: 0;
        text-align: center;
        width: 20px;
        margin-right: 0.2em;
        padding-top: 1.6px;
      }
    }
    }
    .sfPriceRange {
      background: @white;
      color: #a7a9ac;
      font-size: 0.9em;
      position: relative;
      width: 206px;
      ul{
        margin: 0;
        li{
          a{
            color: #7e7e7e;
          }
        }
      }
      .sfprInputsBlock{
        background: #fbfaf8;
        border-bottom: 1px solid #f2f2f2;
        padding: 16px;

        input {
          background: #fbfaf8 none repeat scroll 0 0;
          border: 1px solid #a7a9ac;
          display: inline-block;
          font-size: 0.9em;
          height: 30px;
          padding: 0 5px;
          width: 80px;
          text-align: center;

          &.lastRange {
            margin-left: 8px;
          }
        }
      }
      .firstRangeList{
        padding: 10px 80px 10px 15px;
      }
      .lastRangeList {
        display: none;
        padding: 10px 15px 10px 80px;
        text-align: right;
      }
      .left-side{
        width: 100%;
      }
      .right-side{
        width: 100%;
      }
    }
  }
}
.select2-dropdown{

  width: 440px !important;

  .select2-results__option{
    height: 48px;
    border-bottom: 1px solid #e6e6e6;
    padding: 14px;
  }
}
/* Checkboxes */

.sfBeds, .sfBaths {
  input[type="checkbox"], input[type="radio"] {
    display: none;
  }
  input[type="checkbox"] + label, input[type="radio"] + label {
    color: #808285;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.8em;
  }
  input[type="checkbox"] + label, input[type="radio"] + label {
    cursor: pointer;
    padding-left: 0;
  }
  input[type="checkbox"] + label::before, input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 27px;
    margin: 0 -5px -6px 0;
    background: url('../images/src/checkboxes.png') no-repeat;
  }
  input[type="checkbox"]:checked + label::before, input[type="radio"]:checked + label::before {
    background-position: 0 -17px;
  }
}
.popupCheckbox{
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    color: #808285;
    cursor: pointer;
    font-weight: 400;
    font-size: 0.8em;
    margin-right: 2%;
  }
  input[type="checkbox"] + label {
    cursor: pointer;
    padding-left: 0;
  }
  input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 21px;
    width: 35px;
    margin: 0 -5px -6px 0;
    background: url('../images/src/checkboxes2.png') no-repeat;
  }
  input[type="checkbox"]:checked + label::before {
    background-position: 0 -23px;
  }
}
/* Checkboxes */

.sow-carousel-wrapper{
  background: @white;
}

/* Property page */

.single-property {
  .bottomSeparate{
    border-bottom: 1px solid #dedede;
    padding-bottom: 30px;
  }
  .slideshowHeadImage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ftrdImgGoTop {
    top: -30px;
  }
  .singlePropertyHeader{
    background: #F3F0EA;
    padding: 30px 0;
    color: #474649;
    border-bottom: 1px solid #dedede;
    position: relative;
    z-index: 50;
    .title{
      & > span{
        background: #18C2B8;
        text-transform: uppercase;
        color: @white;
        padding: 0.1em 0.4em;
        border-radius: 2px;
        font-size: 1.3em;
        float: left;
        margin-top: 10px;
        margin-right: 15px;
        display: none;
      }
      & > div{
        float: left;
        font-size: 3em;
        font-weight: 500;
        & > span{
          font-size: 0.6em;
          margin-left: 15px;
          color: #7A787D;
        }
      }
    }
    .attributes{

    }
    .container {
      & > ul {
        li {
          display: inline-block;
          font-size: 1.5em;
          margin-right: 15px;
          .singlePropertyIcon {
            color: #a7a9ac;
            float: left;
            font-size: 1.2em;
            margin-right: 15px;
          }
        }
      }
    }
    .oneAgent{
      position: absolute;
      right: 13%;
      top: 0;
      z-index: 20;
      padding-bottom: 30px;

        img {
          border-radius: 50%;
          display: block;
          height: 150px;
          margin: 5% auto 3%;
          width: 150px;
        }
      h3{

      }
      span{
        display: block;
        text-align: center;
      }
      .oneAgentLinksBlock{
        padding: 0 40px;
        a{
          width: 100%;
        }
      }
      .socialButtons{
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        margin: 0;
        border-bottom: 1px solid #eeeaea;
        border-radius: 0 !important;
        li{
          width: 49.4%;
          color: #a7a9ac;
          font-size: 2em !important;
          padding: 0;
          a{
            color: #a7a9ac;
            display: block;
            padding: 22px 0 15px;
            outline: none;
          }
        }
      }
    }
  }
  .propertyAttribute{
    margin-top: 20px;
    li{
      display: inline-block;
      width: 32%;
      margin-bottom: 20px;
      div{
        border: 1px solid #dedede;
        border-radius: 50%;
        float: left;
        font-size: 1.5em;
        margin-right: 15px;
        margin-top: 0;
        padding: 7px 15px;
        svg{
          margin-top: 5px;
          color: #a7a9ac;
        }
      }
      span{
        display: block;
        color: #919093;
        font-size: 0.8em;
        margin-top: 5px;
        margin-bottom: 3px;
      }
      strong{
        font-weight: 400;
        font-size: 1em;
      }
    }
  }
  .areaMapBlock{
    .col-lg-7{
      margin: 15px 0;
    }
    .ambItem{
      border: 1px solid #dedede;
      border-radius: 5px;
      margin-right: 20px;
      padding: 30px;
      div{
        background: #89c11e none repeat scroll 0 0;
        border-radius: 50%;
        color: @white;
        font-size: 1.3em;
        margin: auto;
        padding: 7px 9px;
        text-align: center;
        width: 45px;
      }
      span{
        display: block;
        font-weight: 500;
        margin-bottom: 2px;
        margin-top: 10px;
        text-align: center;
      }
      strong{
        display: block;
        font-size: 0.9em;
        font-weight: 400;
        text-align: center;
      }
    }
    .nav-tabs{
      border-bottom-width: 0px;
      margin-top: 20px;
      li{
        width: 25%;
        text-align: center;
        background: #f3f3f3;
        a{
          border-radius: 0;
          border-color: #d8d8d8;
          margin-right: 0;
          color: #b1b1b1;
          outline: none;
          &:hover{
            background: @white !important;
          }
        }
        &.active{
          background: @white;
          a{
            border-bottom: 1px solid transparent;
            color: #5a595c;
          }
        }
      }
    }
    .tab-content{
      border: 1px solid #d8d8d8;
      border-top: 1px solid transparent;
      padding: 20px 15px 15px;
    }
  }
  .propertyDetails{
    .col-lg-7{
      margin: 15px 0;
    }
    .nav-tabs{
      border-bottom-width: 0px;
      margin-top: 20px;
      li{
        width: 25%;
        text-align: center;
        background: #f3f3f3;
        a{
          border-radius: 0;
          border-color: #d8d8d8;
          margin-right: 0;
          color: #b1b1b1;
          outline: none;
          &:hover{
            background: @white !important;
          }
        }
        &.active{
          background: @white;
          a{
            border-bottom: 1px solid transparent;
            color: #5a595c;
          }
        }
      }
    }
    .tab-content{
      border: 1px solid #d8d8d8;
      border-top: 1px solid transparent;
      padding: 20px 15px 15px;
    }
    .pdRoomsBlock{
      width: 40%;
      margin: 0 5%;
      float: left;
      section {
        & > div {
          border: 1px solid #dedede;
          border-radius: 50%;
          float: left;
          font-size: 1.5em;
          height: 50px;
          margin-right: 15px;
          margin-top: 0;
          width: 50px;
          svg{
            margin-top: 13px;
            margin-left: 14px;
          }
        }
        span{
          float: left;
          font-size: 1.5em;
          margin-top: 10px;
        }
      }
      & > ul{
        margin-top: 25px;
        li{
          border-bottom: 1px solid #dedede;
          padding-bottom: 10px;
          padding-top: 10px;
          &:last-child{
            border-bottom: 0;
          }
        }
      }
    }
  }
  .listingProvider{
    .col-lg-7{
      margin: 15px 0;
      ul{
        width: 40%;
        float: left;
        &:nth-child(odd){
          margin-right: 10%;
        }
        &:nth-child(even){
          margin-left: 10%;
        }
        li{
          border-bottom: 1px solid #dedede;
          padding-bottom: 10px;
          padding-top: 10px;
          &:last-child{
            border-bottom: 0;
          }
        }
      }
    }
    .italicText{
      color: #919093;
      font-style: italic;
      margin: 5% 0;
    }
  }
}