.site-content{
  margin: 40px 0;
}

.oneAgent{
  width: 380px;
  border: 1px solid #dcddde;
  border-radius: 5px;
  margin: 20px 0;
  &> img{
    display: block;
    margin: 40px auto;
  }
  &>h3{
    color: #747375;
    font-weight: 400;
    margin: 0;
    text-align: center;
  }
  &>span{
    color: #5a595c;
    display: block;
    font-weight: 200;
    text-align: center;
    margin: 11px 0 30px;
  }
  &>ul{
    background: #f3f0e9;
    border-radius: 0 0 5px 5px;
    margin: 58px 0 0;
    li{
      display: inline-block;
      width: 123px;
      border-right: 1px solid #eeeaea;
      text-align: center;
      padding: 22px 0 15px;
      &:last-child{
        border-right: none;
      }
      div{
        color: #555555;
        font-size: 1.1em;
        font-weight: 500;
      }
      span{
        font-size: 1em;
        font-weight: 200;
        color: #919093;
      }
    }
  }
  .oneAgentLinksBlock{
    text-align: center;
    a{
      background: #cf3428;
      width: 150px;
      color: @white;
      font-size: 1em;
      border-radius: 5px;
      display: inline-block;
      padding: 15px 0;
      margin: 0 5px;
    }
  }
}
/* Go featured image */
.ftrdImgGoTop{
  padding: 0 !important;
  position: relative;
  top: -26px;
}
.featuredImageHeader {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  height: 555px;
  position: relative;
  top: -6px;
}
.archiveImageHeader {
  background-image: url('../images/src/archive-header.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  height: 555px;
  padding-top: 10%;
  h1{
    margin: 0 0 20px 0;
    color: @white;
    font-size: 5em;
    text-align: center;
    font-weight: 600;
  }
  h3{
    color: @white;
    line-height: 1.8em;
    padding: 0 20%;
    text-align: center;
  }
}
.single {
  .singleTitle {
    color: #5a595c;
    font-weight: 400;
    font-size: 2.2em;
  }
  .postedOn {
    display: block;
    margin: 0 0 10px;
    color: #a7a9ac;
    font-size: 1.1em;
  }
  .content{
    color: #5a595c;
    h2{
      font-size: 2em;
    }
  }
}
.oneCategory{
  width: 380px;
  height: 460px;
  border-radius: 5px;
  position: relative;
  margin: 20px 0;
  -moz-box-shadow: 0px 0px 3px #f3f0e9;
  -webkit-box-shadow: 0px 0px 3px #f3f0e9;
  box-shadow: 0px 0px 3px #f3f0e9;
  border: 1px solid #f3f0e9;
  .oneCategoryImg{
    height: 280px;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    background: #efefef none repeat scroll 0 0;
    &>img {
      height: 100%;
      width: 100%;
    }
  }
  .catIconLoop{
    background: @white;
    border-radius: 50%;
    height: 80px;
    left: 40%;
    position: absolute;
    top: 235px;
    width: 80px;
    img{
      display: block;
      margin: 11px auto;
    }
    .icon{
      color: #cf3428;
      font-size: 2.5em;
      left: 22px;
      position: relative;
      top: 10px;
    }
  }
  &>a{
    display: block;
    margin: auto;
    text-align: center;
    width: 320px;
    font-size: 1.1em;
    color: #5a595c;
  }
}
.archiveFilterBg{
  background: #f3f0e9;
  height: 80px;
  position: relative;
  top: -26px;
  .archiveFilterBody{
    line-height: 80px;
    div{
      float: left;
      padding-right: 35px;
      border-right: 1px solid #d0d4d9;
    }
    ul{
      float: left;
      margin: 0;
      li{
        padding: 0 50px 0 100px;
        position: relative;
        display: inline-block;
        border-right: 1px solid #d0d4d9;
        a{
          color: #5a595c;
          display: block;
          &:hover{
            text-decoration: none;
          }
        }
        .icon{
          font-size: 2.1em;
          position: absolute;
          top: 23px;
          left: 43px;
        }
      }
    }
  }
}
.frontPageSearchBlock {
  background-image: url('../images/src/archive-header.jpg');
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  height: 555px;
  padding-top: 10%;
  .searchForm {
    width: 950px;
    margin: auto;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    &>ul {
      margin: 0;
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      &>li {
        display: inline-block;
        background: rgba(46, 47, 49, 0.6);
        height: 45px;
        line-height: 3.5em;
        border-radius: 5px 5px 0 0;
        border: medium none;
      }
      a {
        padding: 0 1.7em !important;
        color: @white;
        display: block;
        &:hover {
          text-decoration: none;
        }
        &:focus{
          outline: none;
        }
      }
    }
    .ui-state-active {
      background: #2f2e31;
    }
  form {
      background: #2f2e31;
      padding: 12px 13px 11px 13px;
      border-radius: 0 5px 5px 5px;
      height: 60px;
      ul {
        background: #fff none repeat scroll 0 0;
        padding: 1.5em 1em 1em;
        display: none;
        li{

        }
      }
      input {
        &[type="submit"] {
          border-radius: 5px;
          background: #cf3428;
          color: @white;
          font-size: 1.1em;
          font-weight: 400;
          padding: 7px 20px;
          border: medium none;
          float: left;
          margin-left: 15px;
        }
        }
      .location{
        float: left;
        background: #f8f8f8 none repeat scroll 0 0;
        border-radius: 5px 0 0 5px;
        color: #808285;
        .ui-autocomplete-input{
          background: #f8f8f8 none repeat scroll 0 0;
          border: medium none;
          padding: 0.44em 0.6em;
        }
        .icon-location{
          margin-left: 10px;
        }
      }
    .sfBeds, .sfBaths, .sfPrice{
      border-radius: 0;
      background: #f8f8f8 none repeat scroll 0 0;
      width: 140px;
      height: 36px;
      float: left;
      border-left: 1px solid #e6e6e6;
      span{
        display: block;
        height: 36px;
        line-height: 2.2em;
        text-align: center;
        cursor: context-menu;
      }
      .sfPrice{
        border-radius: 0 5px 5px 0;
      }
    }
    }
  }

}