.post-type-archive-rdc_guide {

  // hide dark bar below navigation
  .headerTopMenu {
    background-image: none !important;
  }

  .content-wrapper {
    position: relative;
    top: -90px;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;
  }

  .guide-block {
    color: #FFF;
    text-align: center;
    padding-top: 200px;
    padding-left: 0;
    padding-right: 0;
    height: 650px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;

  }
}