.site-logo{
    float: left;
    position: relative;
    z-index: 10;
    margin-left: 15px;
    height: 150px;
    width: 163px;
    background: #F3F0E9 none repeat scroll 0 0;
    img{
        display: block;
        margin: auto;
    }
    a{
        color: red;
        text-align: center;
    }
}
.head-popups{
    float: right;
    margin-top: 28px;
    a{
        font-weight: 400;
        color: @white;
        background: @buttons;
        border-radius: 5px;
        padding: 7px 15px;
        text-align: center;
        display: inline-block;
        font-size: 1em;
        &:hover{
            text-decoration: none;
            color: @white;
        }
    }
}
.headerTopMenu{
    background: transparent url('../images/src/submenuBg.png') repeat-x scroll 0 71px !important;
    position: relative;
    z-index: 10;
}