@media screen and (max-width: @adapt768) {


}


.site-logo{
    float: left;
    position: relative;
    z-index: 10;
    margin-left: 15px;
    height: 150px;
    width: 163px;
    background: #F3F0E9 none repeat scroll 0 0;
    img{
      display: block;
      margin: 10px auto 0;
              width: 110px;
    }
    a{
        color: red;
        text-align: center;
        outline: none;
    }
}
.head-popups{
    float: right;
    margin-top: 15px;
    a{
        font-weight: 400;
        color: @white;
        background: @buttons;
        border-radius: 5px;
        padding: 7px 15px;
        text-align: center;
        display: inline-block;
        font-size: 1em;
        &:hover{
            text-decoration: none;
            color: @white;
        }
    }
}
.headerTopMenu{
    background: transparent url('../images/src/submenuBg.png') repeat-x scroll 0 60px !important;
    position: relative;
    z-index: 10;
}


.mobileContactUs{
    display: none;
    width: 65%;
    &:focus{
        text-decoration: none;
        color: #fff;
    }
}