@font-face {
    font-family: 'rdc-icomoon';
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.eot?1gwudq');
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.eot?1gwudq#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.woff2?1gwudq') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.ttf?1gwudq') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.woff?1gwudq') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.svg?1gwudq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wpp-icomoon';
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.eot?ob605w');
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.eot?ob605w#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.woff2?ob605w') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.ttf?ob605w') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.woff?ob605w') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.svg?ob605w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-rdc-"], [class*=" icon-rdc-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rdc-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-wpproperty-"], [class*=" icon-wpproperty-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wpp-icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* RDC Icons */

.icon-rdc-accurate-data:before {
    content: "\e900";
}
.icon-rdc-attention-communication:before {
    content: "\e901";
}
.icon-rdc-best-foot-forward:before {
    content: "\e902";
}
.icon-rdc-closing:before {
    content: "\e903";
}
.icon-rdc-complete-transparency:before {
    content: "\e904";
}
.icon-rdc-customer-commitment:before {
    content: "\e905";
}
.icon-rdc-emergency-response:before {
    content: "\e906";
}
.icon-rdc-expertise:before {
    content: "\e907";
}
.icon-rdc-full-service:before {
    content: "\e908";
}
.icon-rdc-high-exposure-marketing:before {
    content: "\e909";
}
.icon-rdc-buy:before {
    content: "\e90a";
}
.icon-rdc-rent:before {
    content: "\e90b";
}
.icon-rdc-home-selling:before {
    content: "\e90c";
}
.icon-rdc-honest-pricing:before {
    content: "\e90d";
}
.icon-rdc-innovative-technology:before {
    content: "\e90e";
}
.icon-rdc-inspections-contingencies:before {
    content: "\e90f";
}
.icon-rdc-leases-breaches:before {
    content: "\e910";
}
.icon-rdc-legal-compliance:before {
    content: "\e911";
}
.icon-rdc-marketing-showing:before {
    content: "\e912";
}
.icon-rdc-negotiation-closing:before {
    content: "\e913";
}
.icon-rdc-offer-negotation:before {
    content: "\e914";
}
.icon-rdc-professional-service:before {
    content: "\e915";
}
.icon-rdc-professionals:before {
    content: "\e916";
}
.icon-rdc-prompt-maintenance:before {
    content: "\e917";
}
.icon-rdc-management:before {
    content: "\e918";
}
.icon-rdc-proven:before {
    content: "\e919";
}
.icon-rdc-rent-deposits:before {
    content: "\e91a";
}
.icon-rdc-representing-you:before {
    content: "\e91b";
}
.icon-rdc-right-price-strategy:before {
    content: "\e91c";
}
.icon-rdc-right-way-to-rent:before {
    content: "\e91d";
}
.icon-rdc-screening-selection:before {
    content: "\e91e";
}
.icon-rdc-search-recommendations:before {
    content: "\e91f";
}
.icon-rdc-seasoned-modern:before {
    content: "\e920";
}
.icon-rdc-smart-search:before {
    content: "\e921";
}
.icon-rdc-strategy-commitment:before {
    content: "\e922";
}
.icon-rdc-tenant-portal:before {
    content: "\e923";
}
.icon-rdc-tours-insights:before {
    content: "\e924";
}
.icon-rdc-benefits:before {
    content: "\e925";
}
.icon-rdc-competitive:before {
    content: "\e926";
}
.icon-rdc-creative:before {
    content: "\e927";
}
.icon-rdc-empowering-excellence:before {
    content: "\e928";
}
.icon-rdc-honest:before {
    content: "\e929";
}
.icon-rdc-innovative-technology-2:before {
    content: "\e92a";
}
.icon-rdc-lead-management:before {
    content: "\e92b";
}
.icon-rdc-leadership:before {
    content: "\e92c";
}
.icon-rdc-marketing-materials:before {
    content: "\e92d";
}
.icon-rdc-our-mission:before {
    content: "\e92e";
}
.icon-rdc-profile:before {
    content: "\e92f";
}
.icon-rdc-reliable:before {
    content: "\e930";
}
.icon-rdc-supportive-environment:before {
    content: "\e931";
}
.icon-rdc-technology:before {
    content: "\e932";
}
.icon-rdc-top-commission:before {
    content: "\e933";
}
.icon-rdc-transparent:before {
    content: "\e934";
}
.icon-rdc-what-we-do:before {
    content: "\e935";
}
.icon-rdc-who-we-are:before {
    content: "\e936";
}

/* RDC Icons End */

/* Wp-property Icons */

.icon-wpproperty-interface-alert-solid:before {
    content: "\e91e";
}
.icon-wpproperty-interface-alert-outline:before {
    content: "\e91f";
}
.icon-wpproperty-interface-arrowdown-solid:before {
    content: "\e920";
}
.icon-wpproperty-interface-arrowdown-outline:before {
    content: "\e921";
}
.icon-wpproperty-interface-arrowleft-solid:before {
    content: "\e922";
}
.icon-wpproperty-interface-arrowleft-outline:before {
    content: "\e923";
}
.icon-wpproperty-interface-arrowright-solid:before {
    content: "\e924";
}
.icon-wpproperty-interface-arrowright-outline:before {
    content: "\e925";
}
.icon-wpproperty-interface-arrowup-solid:before {
    content: "\e926";
}
.icon-wpproperty-interface-arrowup-outline:before {
    content: "\e927";
}
.icon-wpproperty-interface-bookmark-solid:before {
    content: "\e928";
}
.icon-wpproperty-interface-bookmark-outline:before {
    content: "\e929";
}
.icon-wpproperty-interface-calculate-solid:before {
    content: "\e92a";
}
.icon-wpproperty-interface-calculate-outline:before {
    content: "\e92b";
}
.icon-wpproperty-interface-locked-solid:before {
    content: "\e92c";
}
.icon-wpproperty-interface-locked-outline:before {
    content: "\e92d";
}
.icon-wpproperty-interface-expand-solid:before {
    content: "\e92e";
}
.icon-wpproperty-interface-expand-outline:before {
    content: "\e92f";
}
.icon-wpproperty-interface-favorite-solid:before {
    content: "\e930";
}
.icon-wpproperty-interface-favorite-outline:before {
    content: "\e931";
}
.icon-wpproperty-interface-fullscreen-solid:before {
    content: "\e932";
}
.icon-wpproperty-interface-fullscreen-outline:before {
    content: "\e933";
}
.icon-wpproperty-interface-grid-solid:before {
    content: "\e934";
}
.icon-wpproperty-interface-grid-outline:before {
    content: "\e935";
}
.icon-wpproperty-interface-info-solid:before {
    content: "\e936";
}
.icon-wpproperty-interface-info-outline:before {
    content: "\e937";
}
.icon-wpproperty-interface-list-solid:before {
    content: "\e938";
}
.icon-wpproperty-interface-list-outline:before {
    content: "\e939";
}
.icon-wpproperty-interface-login-solid:before {
    content: "\e93a";
}
.icon-wpproperty-interface-login-outline:before {
    content: "\e93b";
}
.icon-wpproperty-interface-map-solid:before {
    content: "\e93c";
}
.icon-wpproperty-interface-map-outline:before {
    content: "\e93d";
}
.icon-wpproperty-interface-masonry-solid:before {
    content: "\e93e";
}
.icon-wpproperty-interface-masonry-outline:before {
    content: "\e93f";
}
.icon-wpproperty-interface-myaccount-solid:before {
    content: "\e940";
}
.icon-wpproperty-interface-myaccount-outline:before {
    content: "\e941";
}
.icon-wpproperty-interface-next-solid:before {
    content: "\e942";
}
.icon-wpproperty-interface-next-outline:before {
    content: "\e943";
}
.icon-wpproperty-interface-unlocked-solid:before {
    content: "\e944";
}
.icon-wpproperty-interface-unlocked-outline:before {
    content: "\e945";
}
.icon-wpproperty-interface-photo-solid:before {
    content: "\e946";
}
.icon-wpproperty-interface-photo-outline:before {
    content: "\e947";
}
.icon-wpproperty-interface-play-solid:before {
    content: "\e948";
}
.icon-wpproperty-interface-play-outline:before {
    content: "\e949";
}
.icon-wpproperty-interface-previous-solid:before {
    content: "\e94a";
}
.icon-wpproperty-interface-previous-outline:before {
    content: "\e94b";
}
.icon-wpproperty-interface-print-solid:before {
    content: "\e94c";
}
.icon-wpproperty-interface-print-outline:before {
    content: "\e94d";
}
.icon-wpproperty-interface-question-solid:before {
    content: "\e94e";
}
.icon-wpproperty-interface-question-outline:before {
    content: "\e94f";
}
.icon-wpproperty-interface-remove-solid:before {
    content: "\e950";
}
.icon-wpproperty-interface-remove-outline:before {
    content: "\e951";
}
.icon-wpproperty-interface-report-solid:before {
    content: "\e952";
}
.icon-wpproperty-interface-report-outline:before {
    content: "\e953";
}
.icon-wpproperty-interface-search-solid:before {
    content: "\e954";
}
.icon-wpproperty-interface-search-outline:before {
    content: "\e955";
}
.icon-wpproperty-interface-settings-solid:before {
    content: "\e956";
}
.icon-wpproperty-interface-settings-outline:before {
    content: "\e957";
}
.icon-wpproperty-interface-share-solid:before {
    content: "\e958";
}
.icon-wpproperty-interface-share-outline:before {
    content: "\e959";
}
.icon-wpproperty-interface-support-solid:before {
    content: "\e95a";
}
.icon-wpproperty-interface-support-outline:before {
    content: "\e95b";
}
.icon-wpproperty-interface-time-solid:before {
    content: "\e95c";
}
.icon-wpproperty-interface-time-outline:before {
    content: "\e95d";
}
.icon-wpproperty-social-angieslist-solid:before {
    content: "\e95e";
}
.icon-wpproperty-social-angieslist-outline:before {
    content: "\e95f";
}
.icon-wpproperty-social-angieslist-symbol:before {
    content: "\e960";
}
.icon-wpproperty-social-facebook-solid:before {
    content: "\e961";
}
.icon-wpproperty-social-facebook-outline:before {
    content: "\e962";
}
.icon-wpproperty-social-facebook-symbol:before {
    content: "\e963";
}
.icon-wpproperty-social-foursquare-solid:before {
    content: "\e964";
}
.icon-wpproperty-social-foursquare-outline:before {
    content: "\e965";
}
.icon-wpproperty-social-foursquare-symbol:before {
    content: "\e966";
}
.icon-wpproperty-social-googleplus-solid:before {
    content: "\e967";
}
.icon-wpproperty-social-googleplus-outline:before {
    content: "\e968";
}
.icon-wpproperty-social-googleplus-symbol:before {
    content: "\e969";
}
.icon-wpproperty-social-instagram-solid:before {
    content: "\e96a";
}
.icon-wpproperty-social-instagram-outline:before {
    content: "\e96b";
}
.icon-wpproperty-social-instagram-symbol:before {
    content: "\e96c";
}
.icon-wpproperty-social-linkedin-solid:before {
    content: "\e96d";
}
.icon-wpproperty-social-linkedin-outline:before {
    content: "\e96e";
}
.icon-wpproperty-social-linkedin-symbol:before {
    content: "\e96f";
}
.icon-wpproperty-social-pinterest-solid:before {
    content: "\e970";
}
.icon-wpproperty-social-pinterest-outline:before {
    content: "\e971";
}
.icon-wpproperty-social-pinterest-symbol:before {
    content: "\e972";
}
.icon-wpproperty-social-twitter-solid:before {
    content: "\e973";
}
.icon-wpproperty-social-twitter-outline:before {
    content: "\e974";
}
.icon-wpproperty-social-twitter-symbol:before {
    content: "\e975";
}
.icon-wpproperty-social-yelp-solid:before {
    content: "\e976";
}
.icon-wpproperty-social-yelp-outline:before {
    content: "\e977";
}
.icon-wpproperty-social-yelp-symbol:before {
    content: "\e978";
}
.icon-wpproperty-social-youtube-solid:before {
    content: "\e979";
}
.icon-wpproperty-social-youtube-outline:before {
    content: "\e97a";
}
.icon-wpproperty-social-youtube-symbol:before {
    content: "\e97b";
}
.icon-wpproperty-listing-apartment-favorite-solid:before {
    content: "\e97c";
}
.icon-wpproperty-listing-apartment-favorite-outline:before {
    content: "\e97d";
}
.icon-wpproperty-listing-apartment-featured-solid:before {
    content: "\e97e";
}
.icon-wpproperty-listing-apartment-featured-outline:before {
    content: "\e97f";
}
.icon-wpproperty-listing-apartment-foreclosed-solid:before {
    content: "\e980";
}
.icon-wpproperty-listing-apartment-foreclosed-outline:before {
    content: "\e981";
}
.icon-wpproperty-listing-apartment-tour-solid:before {
    content: "\e982";
}
.icon-wpproperty-listing-apartment-tour-outline:before {
    content: "\e983";
}
.icon-wpproperty-listing-apartment-shortsale-solid:before {
    content: "\e984";
}
.icon-wpproperty-listing-apartment-shortsale-outline:before {
    content: "\e985";
}
.icon-wpproperty-listing-apartment-solid:before {
    content: "\e986";
}
.icon-wpproperty-listing-apartment-outline:before {
    content: "\e987";
}
.icon-wpproperty-listing-commercial-agricultural-solid:before {
    content: "\e988";
}
.icon-wpproperty-listing-commercial-agricultural-outline:before {
    content: "\e989";
}
.icon-wpproperty-listing-commercial-apartment-solid:before {
    content: "\e98a";
}
.icon-wpproperty-listing-commercial-apartment-outline:before {
    content: "\e98b";
}
.icon-wpproperty-listing-commercial-business-solid:before {
    content: "\e98c";
}
.icon-wpproperty-listing-commercial-business-outline:before {
    content: "\e98d";
}
.icon-wpproperty-listing-commercial-entertainment-solid:before {
    content: "\e98e";
}
.icon-wpproperty-listing-commercial-entertainment-outline:before {
    content: "\e98f";
}
.icon-wpproperty-listing-commercial-healthcare-solid:before {
    content: "\e990";
}
.icon-wpproperty-listing-commercial-healthcare-outline:before {
    content: "\e991";
}
.icon-wpproperty-listing-commercial-hotel-solid:before {
    content: "\e992";
}
.icon-wpproperty-listing-commercial-hotel-outline:before {
    content: "\e993";
}
.icon-wpproperty-listing-commercial-improved-solid:before {
    content: "\e994";
}
.icon-wpproperty-listing-commercial-improved-outline:before {
    content: "\e995";
}
.icon-wpproperty-listing-commercial-industrial-solid:before {
    content: "\e996";
}
.icon-wpproperty-listing-commercial-industrial-outline:before {
    content: "\e997";
}
.icon-wpproperty-listing-commercial-office-solid:before {
    content: "\e998";
}
.icon-wpproperty-listing-commercial-office-outline:before {
    content: "\e999";
}
.icon-wpproperty-listing-commercial-residential-solid:before {
    content: "\e99a";
}
.icon-wpproperty-listing-commercial-residential-outline:before {
    content: "\e99b";
}
.icon-wpproperty-listing-commercial-retail-solid:before {
    content: "\e99c";
}
.icon-wpproperty-listing-commercial-retail-outline:before {
    content: "\e99d";
}
.icon-wpproperty-listing-commercial-unimproved-solid:before {
    content: "\e99e";
}
.icon-wpproperty-listing-commercial-unimproved-outline:before {
    content: "\e99f";
}
.icon-wpproperty-listing-condo-favorite-solid:before {
    content: "\e9a0";
}
.icon-wpproperty-listing-condo-tour-solid:before {
    content: "\e9a1";
}
.icon-wpproperty-listing-condo-favorite-outline:before {
    content: "\e9a2";
}
.icon-wpproperty-listing-condo-tour-outline:before {
    content: "\e9a3";
}
.icon-wpproperty-listing-condo-featured-solid:before {
    content: "\e9a4";
}
.icon-wpproperty-listing-condo-featured-outline:before {
    content: "\e9a5";
}
.icon-wpproperty-listing-condo-foreclosed-solid:before {
    content: "\e9a6";
}
.icon-wpproperty-listing-condo-foreclosed-outline:before {
    content: "\e9a7";
}
.icon-wpproperty-listing-condo-shortsale-solid:before {
    content: "\e9a8";
}
.icon-wpproperty-listing-condo-shortsale-outline:before {
    content: "\e9a9";
}
.icon-wpproperty-listing-condo-solid:before {
    content: "\e9aa";
}
.icon-wpproperty-listing-condo-outline:before {
    content: "\e9ab";
}
.icon-wpproperty-listing-house-favorite-solid:before {
    content: "\e9ac";
}
.icon-wpproperty-listing-house-favorite-outline:before {
    content: "\e9ad";
}
.icon-wpproperty-listing-house-featured-solid:before {
    content: "\e9ae";
}
.icon-wpproperty-listing-house-featured-outline:before {
    content: "\e9af";
}
.icon-wpproperty-listing-house-foreclosed-solid:before {
    content: "\e9b0";
}
.icon-wpproperty-listing-house-foreclosed-outline:before {
    content: "\e9b1";
}
.icon-wpproperty-listing-house-tour-solid:before {
    content: "\e9b2";
}
.icon-wpproperty-listing-house-tour-outline:before {
    content: "\e9b3";
}
.icon-wpproperty-listing-house-shortsale-solid:before {
    content: "\e9b4";
}
.icon-wpproperty-listing-house-shortsale-outline:before {
    content: "\e9b5";
}
.icon-wpproperty-listing-house-solid:before {
    content: "\e9b6";
}
.icon-wpproperty-listing-house-outline:before {
    content: "\e9b7";
}
.icon-wpproperty-listing-land-commercial-solid:before {
    content: "\e9b8";
}
.icon-wpproperty-listing-land-outline-solid:before {
    content: "\e9b9";
}
.icon-wpproperty-listing-land-farm-solid:before {
    content: "\e9ba";
}
.icon-wpproperty-listing-land-farm-outline:before {
    content: "\e9bb";
}
.icon-wpproperty-listing-land-hunting-solid:before {
    content: "\e9bc";
}
.icon-wpproperty-listing-land-hunting-outline:before {
    content: "\e9bd";
}
.icon-wpproperty-listing-land-ranch-solid:before {
    content: "\e9be";
}
.icon-wpproperty-listing-land-ranch-outline:before {
    content: "\e9bf";
}
.icon-wpproperty-listing-land-recreational-solid:before {
    content: "\e9c0";
}
.icon-wpproperty-listing-land-recreational-outline:before {
    content: "\e9c1";
}
.icon-wpproperty-listing-land-residential-solid:before {
    content: "\e9c2";
}
.icon-wpproperty-listing-land-residential-outline:before {
    content: "\e9c3";
}
.icon-wpproperty-listing-land-solid:before {
    content: "\e9c4";
}
.icon-wpproperty-listing-land-outline:before {
    content: "\e9c5";
}
.icon-wpproperty-listing-land-vacant-solid:before {
    content: "\e9c6";
}
.icon-wpproperty-listing-land-vacant-outline:before {
    content: "\e9c7";
}
.icon-wpproperty-listing-multifamily-favorite-solid:before {
    content: "\e9c8";
}
.icon-wpproperty-listing-multifamily-favorite-outline:before {
    content: "\e9c9";
}
.icon-wpproperty-listing-multifamily-featured-outline:before {
    content: "\e9ca";
}
.icon-wpproperty-listing-multifamily-featured-outline2:before {
    content: "\e9cb";
}
.icon-wpproperty-listing-multifamily-foreclosed-solid:before {
    content: "\e9cc";
}
.icon-wpproperty-listing-multifamily-foreclosed-outline:before {
    content: "\e9cd";
}
.icon-wpproperty-listing-multifamily-tour-solid:before {
    content: "\e9ce";
}
.icon-wpproperty-listing-multifamily-tour-outline:before {
    content: "\e9cf";
}
.icon-wpproperty-listing-multifamily-shortsale-solid:before {
    content: "\e9d0";
}
.icon-wpproperty-listing-multifamily-shortsale-outline:before {
    content: "\e9d1";
}
.icon-wpproperty-listing-multifamily-solid:before {
    content: "\e9d2";
}
.icon-wpproperty-listing-multifamily-outline:before {
    content: "\e9d3";
}
.icon-wpproperty-listing-townhome-favorite-solid:before {
    content: "\e9d4";
}
.icon-wpproperty-listing-townhome-favorite-outline:before {
    content: "\e9d5";
}
.icon-wpproperty-listing-townhome-featured-solid:before {
    content: "\e9d6";
}
.icon-wpproperty-listing-townhome-featured-outline:before {
    content: "\e9d7";
}
.icon-wpproperty-listing-townhome-foreclosed-solid:before {
    content: "\e9d8";
}
.icon-wpproperty-listing-townhome-foreclosed-outline:before {
    content: "\e9d9";
}
.icon-wpproperty-listing-townhome-tour-solid:before {
    content: "\e9da";
}
.icon-wpproperty-listing-townhome-tour-outline:before {
    content: "\e9db";
}
.icon-wpproperty-listing-townhome-shortsale-solid:before {
    content: "\e9dc";
}
.icon-wpproperty-listing-townhome-shortsale-outline:before {
    content: "\e9dd";
}
.icon-wpproperty-listing-townhome-solid:before {
    content: "\e9de";
}
.icon-wpproperty-listing-townhome-outline:before {
    content: "\e9df";
}
.icon-wpproperty-status-active-solid:before {
    content: "\e9e0";
}
.icon-wpproperty-status-active-outline:before {
    content: "\e9e1";
}
.icon-wpproperty-status-backonmarket-solid:before {
    content: "\e9e2";
}
.icon-wpproperty-status-backonmarket-outline:before {
    content: "\e9e3";
}
.icon-wpproperty-status-closed-solid:before {
    content: "\e9e4";
}
.icon-wpproperty-status-closed-outline:before {
    content: "\e9e5";
}
.icon-wpproperty-status-contingent-solid:before {
    content: "\e9e6";
}
.icon-wpproperty-status-contingent-outline:before {
    content: "\e9e7";
}
.icon-wpproperty-status-expired-solid:before {
    content: "\e9e8";
}
.icon-wpproperty-status-expired-outline:before {
    content: "\e9e9";
}
.icon-wpproperty-status-new-solid:before {
    content: "\e9ea";
}
.icon-wpproperty-status-new-outline:before {
    content: "\e9eb";
}
.icon-wpproperty-status-noshowings-solid:before {
    content: "\e9ec";
}
.icon-wpproperty-status-noshowings-outline:before {
    content: "\e9ed";
}
.icon-wpproperty-status-openhouse-solid:before {
    content: "\e9ee";
}
.icon-wpproperty-status-openhouse-outline:before {
    content: "\e9ef";
}
.icon-wpproperty-status-pending-solid:before {
    content: "\e9f0";
}
.icon-wpproperty-status-pending-outline:before {
    content: "\e9f1";
}
.icon-wpproperty-status-pricedown-solid:before {
    content: "\e9f2";
}
.icon-wpproperty-status-pricedown-outline:before {
    content: "\e9f3";
}
.icon-wpproperty-status-priceup-solid:before {
    content: "\e9f4";
}
.icon-wpproperty-status-priceup-outline:before {
    content: "\e9f5";
}
.icon-wpproperty-status-rented-solid:before {
    content: "\e9f6";
}
.icon-wpproperty-status-rented-outline:before {
    content: "\e9f7";
}
.icon-wpproperty-status-withdrawn-solid:before {
    content: "\e9f8";
}
.icon-wpproperty-status-withdrawn-outline:before {
    content: "\e9f9";
}
.icon-wpproperty-residentialstyle-artscrafts-solid:before {
    content: "\e9fa";
}
.icon-wpproperty-residentialstyle-artscrafts-outline:before {
    content: "\e9fb";
}
.icon-wpproperty-residentialstyle-bungalow-solid:before {
    content: "\e9fc";
}
.icon-wpproperty-residentialstyle-bungalow-outline:before {
    content: "\e9fd";
}
.icon-wpproperty-residentialstyle-capecod-solid:before {
    content: "\e9fe";
}
.icon-wpproperty-residentialstyle-capecod-outline:before {
    content: "\e9ff";
}
.icon-wpproperty-residentialstyle-charleston-solid:before {
    content: "\ea00";
}
.icon-wpproperty-residentialstyle-charleston-outline:before {
    content: "\ea01";
}
.icon-wpproperty-residentialstyle-colonial-solid:before {
    content: "\ea02";
}
.icon-wpproperty-residentialstyle-colonial-outline:before {
    content: "\ea03";
}
.icon-wpproperty-residentialstyle-contemporary-solid:before {
    content: "\ea04";
}
.icon-wpproperty-residentialstyle-contemporary-outline:before {
    content: "\ea05";
}
.icon-wpproperty-residentialstyle-craftsman-solid:before {
    content: "\ea06";
}
.icon-wpproperty-residentialstyle-craftsman-outline:before {
    content: "\ea07";
}
.icon-wpproperty-residentialstyle-deckhouse-solid:before {
    content: "\ea08";
}
.icon-wpproperty-residentialstyle-deckhouse-outline:before {
    content: "\ea09";
}
.icon-wpproperty-residentialstyle-dutchcolonial-solid:before {
    content: "\ea0a";
}
.icon-wpproperty-residentialstyle-dutchcolonial-outline:before {
    content: "\ea0b";
}
.icon-wpproperty-residentialstyle-farmhouse-solid:before {
    content: "\ea0c";
}
.icon-wpproperty-residentialstyle-farmhouse-outline:before {
    content: "\ea0d";
}
.icon-wpproperty-residentialstyle-flat-solid:before {
    content: "\ea0e";
}
.icon-wpproperty-residentialstyle-flat-outline:before {
    content: "\ea0f";
}
.icon-wpproperty-residentialstyle-frenchprovince-solid:before {
    content: "\ea10";
}
.icon-wpproperty-residentialstyle-frenchprovince-outline:before {
    content: "\ea11";
}
.icon-wpproperty-residentialstyle-geodesic-solid:before {
    content: "\ea12";
}
.icon-wpproperty-residentialstyle-geodesic-outline:before {
    content: "\ea13";
}
.icon-wpproperty-residentialstyle-georgian-solid:before {
    content: "\ea14";
}
.icon-wpproperty-residentialstyle-georgian-outline:before {
    content: "\ea15";
}
.icon-wpproperty-residentialstyle-loft-solid:before {
    content: "\ea16";
}
.icon-wpproperty-residentialstyle-loft-outline:before {
    content: "\ea17";
}
.icon-wpproperty-residentialstyle-loghouse-solid:before {
    content: "\ea18";
}
.icon-wpproperty-residentialstyle-loghouse-outline:before {
    content: "\ea19";
}
.icon-wpproperty-residentialstyle-modernist-solid:before {
    content: "\ea1a";
}
.icon-wpproperty-residentialstyle-modernist-outline:before {
    content: "\ea1b";
}
.icon-wpproperty-residentialstyle-ranch-solid:before {
    content: "\ea1c";
}
.icon-wpproperty-residentialstyle-ranch-outline:before {
    content: "\ea1d";
}
.icon-wpproperty-residentialstyle-rustic-solid:before {
    content: "\ea1e";
}
.icon-wpproperty-residentialstyle-rustic-outline:before {
    content: "\ea1f";
}
.icon-wpproperty-residentialstyle-spanish-solid:before {
    content: "\ea20";
}
.icon-wpproperty-residentialstyle-spanish-outline:before {
    content: "\ea21";
}
.icon-wpproperty-residentialstyle-traditional-solid:before {
    content: "\ea22";
}
.icon-wpproperty-residentialstyle-traditional-outline:before {
    content: "\ea23";
}
.icon-wpproperty-residentialstyle-transitional-solid:before {
    content: "\ea24";
}
.icon-wpproperty-residentialstyle-transitional-outline:before {
    content: "\ea25";
}
.icon-wpproperty-residentialstyle-tudor-solid:before {
    content: "\ea26";
}
.icon-wpproperty-residentialstyle-tudor-outline:before {
    content: "\ea27";
}
.icon-wpproperty-residentialstyle-victorian-solid:before {
    content: "\ea28";
}
.icon-wpproperty-residentialstyle-victorian-outline:before {
    content: "\ea29";
}
.icon-wpproperty-residentialstyle-warehouse-solid:before {
    content: "\ea2a";
}
.icon-wpproperty-residentialstyle-warehouse-outline:before {
    content: "\ea2b";
}
.icon-wpproperty-residentialstyle-williamsburg-solid:before {
    content: "\ea2c";
}
.icon-wpproperty-residentialstyle-williamsburg-outline:before {
    content: "\ea2d";
}
.icon-wpproperty-attribute-address-solid:before {
    content: "\ea2e";
}
.icon-wpproperty-attribute-address-outline:before {
    content: "\ea2f";
}
.icon-wpproperty-attribute-bathroom-solid:before {
    content: "\ea30";
}
.icon-wpproperty-attribute-bathroom-outline:before {
    content: "\ea31";
}
.icon-wpproperty-attribute-bedroom-solid:before {
    content: "\ea32";
}
.icon-wpproperty-attribute-bedroom-outline:before {
    content: "\ea33";
}
.icon-wpproperty-attribute-cooling-solid:before {
    content: "\ea34";
}
.icon-wpproperty-attribute-cooling-outline:before {
    content: "\ea35";
}
.icon-wpproperty-attribute-exterior-solid:before {
    content: "\ea36";
}
.icon-wpproperty-attribute-exterior-outline:before {
    content: "\ea37";
}
.icon-wpproperty-attribute-features-solid:before {
    content: "\ea38";
}
.icon-wpproperty-attribute-features-outline:before {
    content: "\ea39";
}
.icon-wpproperty-attribute-fireplace-solid:before {
    content: "\ea3a";
}
.icon-wpproperty-attribute-fireplace-outline:before {
    content: "\ea3b";
}
.icon-wpproperty-attribute-garage-solid:before {
    content: "\ea3c";
}
.icon-wpproperty-attribute-garage-outline:before {
    content: "\ea3d";
}
.icon-wpproperty-attribute-heating-solid:before {
    content: "\ea3e";
}
.icon-wpproperty-attribute-solid-outline:before {
    content: "\ea3f";
}
.icon-wpproperty-attribute-hoa-solid:before {
    content: "\ea40";
}
.icon-wpproperty-attribute-hoa-outline:before {
    content: "\ea41";
}
.icon-wpproperty-attribute-hoafee-solid:before {
    content: "\ea42";
}
.icon-wpproperty-attribute-hoafee-outline:before {
    content: "\ea43";
}
.icon-wpproperty-attribute-interior-solid:before {
    content: "\ea44";
}
.icon-wpproperty-attribute-interior-outline:before {
    content: "\ea45";
}
.icon-wpproperty-attribute-kitchen-solid:before {
    content: "\ea46";
}
.icon-wpproperty-attribute-kitchen-outline:before {
    content: "\ea47";
}
.icon-wpproperty-attribute-livingarea-solid:before {
    content: "\ea48";
}
.icon-wpproperty-attribute-livingarea-outline:before {
    content: "\ea49";
}
.icon-wpproperty-attribute-lot-solid:before {
    content: "\ea4a";
}
.icon-wpproperty-attribute-lot-outline:before {
    content: "\ea4b";
}
.icon-wpproperty-attribute-neighborhood-solid:before {
    content: "\ea4c";
}
.icon-wpproperty-attribute-neighborhood-outline:before {
    content: "\ea4d";
}
.icon-wpproperty-attribute-parking-solid:before {
    content: "\ea4e";
}
.icon-wpproperty-attribute-parking-outline:before {
    content: "\ea4f";
}
.icon-wpproperty-attribute-price-solid:before {
    content: "\ea50";
}
.icon-wpproperty-attribute-price-outline:before {
    content: "\ea51";
}
.icon-wpproperty-attribute-lotsize-solid:before {
    content: "\ea52";
}
.icon-wpproperty-attribute-lotsize-outline:before {
    content: "\ea53";
}
.icon-wpproperty-attribute-restrictions-solid:before {
    content: "\ea54";
}
.icon-wpproperty-attribute-restrictions-outline:before {
    content: "\ea55";
}
.icon-wpproperty-attribute-rooms-outline:before {
    content: "\ea56";
}
.icon-wpproperty-attribute-rooms-solid:before {
    content: "\ea57";
}
.icon-wpproperty-attribute-deposit-solid:before {
    content: "\ea58";
}
.icon-wpproperty-attribute-deposit-outline:before {
    content: "\ea59";
}
.icon-wpproperty-attribute-size-solid:before {
    content: "\ea5a";
}
.icon-wpproperty-attribute-size-outline:before {
    content: "\ea5b";
}
.icon-wpproperty-attribute-tax-solid:before {
    content: "\ea5c";
}
.icon-wpproperty-attribute-tax-outline:before {
    content: "\ea5d";
}
.icon-wpproperty-attribute-terms-solid:before {
    content: "\ea5e";
}
.icon-wpproperty-attribute-terms-outline:before {
    content: "\ea5f";
}
.icon-wpproperty-attribute-utility-solid:before {
    content: "\ea60";
}
.icon-wpproperty-attribute-utility-outline:before {
    content: "\ea61";
}
.icon-wpproperty-attribute-floorplan-outline:before {
    content: "\ea62";
}
.icon-wpproperty-attribute-floorplan-solid:before {
    content: "\ea63";
}
.icon-wpproperty-navigation-bike-solid:before {
    content: "\ea64";
}
.icon-wpproperty-navigation-bike-outline:before {
    content: "\ea65";
}
.icon-wpproperty-navigation-bus-solid:before {
    content: "\ea66";
}
.icon-wpproperty-navigation-bus-outline:before {
    content: "\ea67";
}
.icon-wpproperty-navigation-car-solid:before {
    content: "\ea68";
}
.icon-wpproperty-navigation-car-outline:before {
    content: "\ea69";
}
.icon-wpproperty-contact-commercialagent-solid:before {
    content: "\ea6a";
}
.icon-wpproperty-contact-commercialagent-outline:before {
    content: "\ea6b";
}
.icon-wpproperty-contact-solid:before {
    content: "\ea6c";
}
.icon-wpproperty-contact-outline:before {
    content: "\ea6d";
}
.icon-wpproperty-contact-date-solid:before {
    content: "\ea6e";
}
.icon-wpproperty-contact-date-outline:before {
    content: "\ea6f";
}
.icon-wpproperty-data-days-solid:before {
    content: "\ea70";
}
.icon-wpproperty-data-days-outline:before {
    content: "\ea71";
}
.icon-wpproperty-contact-email-solid:before {
    content: "\ea72";
}
.icon-wpproperty-contact-email-outline:before {
    content: "\ea73";
}
.icon-wpproperty-contact-fax-solid:before {
    content: "\ea74";
}
.icon-wpproperty-contact-fax-outline:before {
    content: "\ea75";
}
.icon-wpproperty-data-checked-solid:before {
    content: "\ea76";
}
.icon-wpproperty-data-checked-outline:before {
    content: "\ea77";
}
.icon-wpproperty-data-updated-solid:before {
    content: "\ea78";
}
.icon-wpproperty-data-updated-outline:before {
    content: "\ea79";
}
.icon-wpproperty-navigation-location-solid:before {
    content: "\ea7a";
}
.icon-wpproperty-navigation-location-outline:before {
    content: "\ea7b";
}
.icon-wpproperty-navigation-mapview-solid:before {
    content: "\ea7c";
}
.icon-wpproperty-navigation-mapview-outline:before {
    content: "\ea7d";
}
.icon-wpproperty-contact-email-solid2:before {
    content: "\ea7e";
}
.icon-wpproperty-contact-email-outline2:before {
    content: "\ea7f";
}
.icon-wpproperty-contact-name-solid:before {
    content: "\ea80";
}
.icon-wpproperty-contact-name-outline:before {
    content: "\ea81";
}
.icon-wpproperty-contact-mobilephone-solid:before {
    content: "\ea82";
}
.icon-wpproperty-contact-mobilephone-outline:before {
    content: "\ea83";
}
.icon-wpproperty-contact-phone-solid:before {
    content: "\ea84";
}
.icon-wpproperty-contact-phone-outline:before {
    content: "\ea85";
}
.icon-wpproperty-contact-residentialagent-solid:before {
    content: "\ea86";
}
.icon-wpproperty-contact-residentialagent-outline:before {
    content: "\ea87";
}
.icon-wpproperty-navigation-satelliteview-solid:before {
    content: "\ea88";
}
.icon-wpproperty-navigation-satelliteview-outline:before {
    content: "\ea89";
}
.icon-wpproperty-school-solid:before {
    content: "\ea8a";
}
.icon-wpproperty-school-outline:before {
    content: "\ea8b";
}
.icon-wpproperty-school-elementary-solid:before {
    content: "\ea8c";
}
.icon-wpproperty-school-elementary-outline:before {
    content: "\ea8d";
}
.icon-wpproperty-school-high-solid:before {
    content: "\ea8e";
}
.icon-wpproperty-school-high-outline:before {
    content: "\ea8f";
}
.icon-wpproperty-school-middle-solid:before {
    content: "\ea90";
}
.icon-wpproperty-school-middle-outline:before {
    content: "\ea91";
}
.icon-wpproperty-school-university-solid:before {
    content: "\ea92";
}
.icon-wpproperty-school-university-outline:before {
    content: "\ea93";
}
.icon-wpproperty-contact-skype-solid:before {
    content: "\ea94";
}
.icon-wpproperty-contact-skype-outline:before {
    content: "\ea95";
}
.icon-wpproperty-navigation-streetview-solid:before {
    content: "\ea96";
}
.icon-wpproperty-navigation-streetview-outline:before {
    content: "\ea97";
}
.icon-wpproperty-navigation-walk-solid:before {
    content: "\ea98";
}
.icon-wpproperty-navigation-walk-outline:before {
    content: "\ea99";
}
.icon-wpproperty-brand-betterbusinessbureau-solid:before {
    content: "\ea9a";
}
.icon-wpproperty-brand-betterbusinessbureau-outline:before {
    content: "\ea9b";
}
.icon-wpproperty-brand-betterbusinessbureau-symbol:before {
    content: "\ea9c";
}
.icon-wpproperty-brand-century21-solid:before {
    content: "\ea9d";
}
.icon-wpproperty-brand-century21-outline:before {
    content: "\ea9e";
}
.icon-wpproperty-brand-century21-symbol:before {
    content: "\ea9f";
}
.icon-wpproperty-brand-coldwellbanker-solid:before {
    content: "\eaa0";
}
.icon-wpproperty-brand-coldwellbanker-outline:before {
    content: "\eaa1";
}
.icon-wpproperty-brand-coldwellbanker-symbol:before {
    content: "\eaa2";
}
.icon-wpproperty-brand-equalhousing-outline:before {
    content: "\eaa3";
}
.icon-wpproperty-brand-equalhousing-solid:before {
    content: "\eaa4";
}
.icon-wpproperty-brand-equalhousing-symbol .path1:before {
    content: "\eaa5";
    color: rgb(0, 0, 0);
}
.icon-wpproperty-brand-equalhousing-symbol .path2:before {
    content: "\eaa6";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-wpproperty-brand-equalhousing-symbol .path3:before {
    content: "\eaa7";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-wpproperty-brand-equalhousing-symbol .path4:before {
    content: "\eaa8";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-wpproperty-brand-kellerwilliams-solid:before {
    content: "\eaa9";
}
.icon-wpproperty-brand-kellerwilliams-outline:before {
    content: "\eaaa";
}
.icon-wpproperty-brand-kellerwilliams-symbol:before {
    content: "\eaab";
}
.icon-wpproperty-brand-realtor-solid:before {
    content: "\eaac";
}
.icon-wpproperty-brand-realtor-outline:before {
    content: "\eaad";
}
.icon-wpproperty-brand-realtor-symbol:before {
    content: "\eaae";
}
.icon-wpproperty-brand-redfin-solid:before {
    content: "\eaaf";
}
.icon-wpproperty-brand-redfin-outline:before {
    content: "\eab0";
}
.icon-wpproperty-brand-redfin-symbol:before {
    content: "\eab1";
}
.icon-wpproperty-brand-remax-solid:before {
    content: "\eab2";
}
.icon-wpproperty-brand-remax-outline:before {
    content: "\eab3";
}
.icon-wpproperty-brand-remax-symbol:before {
    content: "\eab4";
}
.icon-wpproperty-brand-trulia-solid:before {
    content: "\eab5";
}
.icon-wpproperty-brand-trulia-outline:before {
    content: "\eab6";
}
.icon-wpproperty-brand-trulia-symbol:before {
    content: "\eab7";
}
.icon-wpproperty-brand-walkscore-solid:before {
    content: "\eab8";
}
.icon-wpproperty-brand-walkscore-outline:before {
    content: "\eab9";
}
.icon-wpproperty-brand-walkscore-symbol:before {
    content: "\eaba";
}
.icon-wpproperty-brand-zillow-solid:before {
    content: "\eabb";
}
.icon-wpproperty-brand-zillow-outline:before {
    content: "\eabc";
}
.icon-wpproperty-brand-zillow-symbol:before {
    content: "\eabd";
}
.icon-wpproperty-appliance-dishwasher-filled:before {
    content: "\eabe";
}
.icon-wpproperty-appliance-dishwasher-outline:before {
    content: "\eabf";
}
.icon-wpproperty-appliance-dryer-filled:before {
    content: "\eac0";
}
.icon-wpproperty-appliance-dryer-outline:before {
    content: "\eac1";
}
.icon-wpproperty-appliance-garbage-solid:before {
    content: "\eac2";
}
.icon-wpproperty-appliance-garbage-outline:before {
    content: "\eac3";
}
.icon-wpproperty-appliance-microwave-solid:before {
    content: "\eac4";
}
.icon-wpproperty-appliance-microwave-outline:before {
    content: "\eac5";
}
.icon-wpproperty-appliance-oven-solid:before {
    content: "\eac6";
}
.icon-wpproperty-appliance-oven-outline:before {
    content: "\eac7";
}
.icon-wpproperty-appliance-electricrange-solid:before {
    content: "\eac8";
}
.icon-wpproperty-appliance-electricrange-outline:before {
    content: "\eac9";
}
.icon-wpproperty-appliance-gasrange-solid:before {
    content: "\eaca";
}
.icon-wpproperty-appliance-gasrange-outline:before {
    content: "\eacb";
}
.icon-wpproperty-appliance-rangehood-solid:before {
    content: "\eacc";
}
.icon-wpproperty-appliance-ranghood-outline:before {
    content: "\eacd";
}
.icon-wpproperty-appliance-refrigerator-solid:before {
    content: "\eace";
}
.icon-wpproperty-appliance-refrigerator-outline:before {
    content: "\eacf";
}
.icon-wpproperty-appliance-satellite-solid:before {
    content: "\ead0";
}
.icon-wpproperty-appliance-satellite-outline:before {
    content: "\ead1";
}
.icon-wpproperty-appliance-washer-solid:before {
    content: "\ead2";
}
.icon-wpproperty-appliance-washer-outline:before {
    content: "\ead3";
}
.icon-wpproperty-location-arts-solid:before {
    content: "\e901";
}
.icon-wpproperty-location-arts-outline:before {
    content: "\e900";
}
.icon-wpproperty-location-bar-solid:before {
    content: "\e902";
}
.icon-wpproperty-location-bar-outline:before {
    content: "\e903";
}
.icon-wpproperty-location-beauty-solid:before {
    content: "\e904";
}
.icon-wpproperty-location-beauty-outline:before {
    content: "\e905";
}
.icon-wpproperty-location-coffee-solid:before {
    content: "\e906";
}
.icon-wpproperty-location-coffee-outline:before {
    content: "\e907";
}
.icon-wpproperty-location-entertainment-solid:before {
    content: "\e908";
}
.icon-wpproperty-location-entertainment-outline:before {
    content: "\e909";
}
.icon-wpproperty-location-fire-solid:before {
    content: "\e90a";
}
.icon-wpproperty-location-fire-outline:before {
    content: "\e90b";
}
.icon-wpproperty-location-groceries-solid:before {
    content: "\e90c";
}
.icon-wpproperty-location-groceries-outline:before {
    content: "\e90d";
}
.icon-wpproperty-location-hospital-solid:before {
    content: "\e90e";
}
.icon-wpproperty-location-hospital-outline:before {
    content: "\e90f";
}
.icon-wpproperty-location-nightlife-solid:before {
    content: "\e910";
}
.icon-wpproperty-location-nightlife-outline:before {
    content: "\e911";
}
.icon-wpproperty-location-park-solid:before {
    content: "\e912";
}
.icon-wpproperty-location-park-outline:before {
    content: "\e913";
}
.icon-wpproperty-location-pin-solid:before {
    content: "\e914";
}
.icon-wpproperty-location-pin-outline:before {
    content: "\e915";
}
.icon-wpproperty-location-police-solid:before {
    content: "\e916";
}
.icon-wpproperty-location-police-outline:before {
    content: "\e917";
}
.icon-wpproperty-location-restaurant-solid:before {
    content: "\e918";
}
.icon-wpproperty-location-restaurant-outline:before {
    content: "\e919";
}
.icon-wpproperty-location-shopping-solid:before {
    content: "\e91a";
}
.icon-wpproperty-location-shopping-outline:before {
    content: "\e91b";
}
.icon-wpproperty-location-sports-solid:before {
    content: "\e91c";
}
.icon-wpproperty-location-sports-outline:before {
    content: "\e91d";
}

/* Wp-property Icons End */


