@font-face {
    font-family: 'rdc-icomoon';
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.eot?1gwudq');
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.eot?1gwudq#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.woff2?1gwudq') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.ttf?1gwudq') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.woff?1gwudq') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/28703/reddoorcompany/icomoon.svg?1gwudq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wpp-icomoon';
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.eot?ob605w');
    src:    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.eot?ob605w#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.woff2?ob605w') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.ttf?ob605w') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.woff?ob605w') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.svg?ob605w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* RDC Icons */

.icon-rdc-accurate-data:before {
    content: "\e900";
}
.icon-rdc-attention-communication:before {
    content: "\e901";
}
.icon-rdc-best-foot-forward:before {
    content: "\e902";
}
.icon-rdc-closing:before {
    content: "\e903";
}
.icon-rdc-complete-transparency:before {
    content: "\e904";
}
.icon-rdc-customer-commitment:before {
    content: "\e905";
}
.icon-rdc-emergency-response:before {
    content: "\e906";
}
.icon-rdc-expertise:before {
    content: "\e907";
}
.icon-rdc-full-service:before {
    content: "\e908";
}
.icon-rdc-high-exposure-marketing:before {
    content: "\e909";
}
.icon-rdc-home-buying:before {
    content: "\e90a";
}
.icon-rdc-home-renting:before {
    content: "\e90b";
}
.icon-rdc-home-selling:before {
    content: "\e90c";
}
.icon-rdc-honest-pricing:before {
    content: "\e90d";
}
.icon-rdc-innovative-technology:before {
    content: "\e90e";
}
.icon-rdc-inspections-contingencies:before {
    content: "\e90f";
}
.icon-rdc-leases-breaches:before {
    content: "\e910";
}
.icon-rdc-legal-compliance:before {
    content: "\e911";
}
.icon-rdc-marketing-showing:before {
    content: "\e912";
}
.icon-rdc-negotiation-closing:before {
    content: "\e913";
}
.icon-rdc-offer-negotation:before {
    content: "\e914";
}
.icon-rdc-professional-service:before {
    content: "\e915";
}
.icon-rdc-professionals:before {
    content: "\e916";
}
.icon-rdc-prompt-maintenance:before {
    content: "\e917";
}
.icon-rdc-property-management:before {
    content: "\e918";
}
.icon-rdc-proven:before {
    content: "\e919";
}
.icon-rdc-rent-deposits:before {
    content: "\e91a";
}
.icon-rdc-representing-you:before {
    content: "\e91b";
}
.icon-rdc-right-price-strategy:before {
    content: "\e91c";
}
.icon-rdc-right-way-to-rent:before {
    content: "\e91d";
}
.icon-rdc-screening-selection:before {
    content: "\e91e";
}
.icon-rdc-search-recommendations:before {
    content: "\e91f";
}
.icon-rdc-seasoned-modern:before {
    content: "\e920";
}
.icon-rdc-smart-search:before {
    content: "\e921";
}
.icon-rdc-strategy-commitment:before {
    content: "\e922";
}
.icon-rdc-tenant-portal:before {
    content: "\e923";
}
.icon-rdc-tours-insights:before {
    content: "\e924";
}
.icon-rdc-benefits:before {
    content: "\e925";
}
.icon-rdc-competitive:before {
    content: "\e926";
}
.icon-rdc-creative:before {
    content: "\e927";
}
.icon-rdc-empowering-excellence:before {
    content: "\e928";
}
.icon-rdc-honest:before {
    content: "\e929";
}
.icon-rdc-innovative-technology-2:before {
    content: "\e92a";
}
.icon-rdc-lead-management:before {
    content: "\e92b";
}
.icon-rdc-leadership:before {
    content: "\e92c";
}
.icon-rdc-marketing-materials:before {
    content: "\e92d";
}
.icon-rdc-our-mission:before {
    content: "\e92e";
}
.icon-rdc-profile:before {
    content: "\e92f";
}
.icon-rdc-reliable:before {
    content: "\e930";
}
.icon-rdc-supportive-environment:before {
    content: "\e931";
}
.icon-rdc-technology:before {
    content: "\e932";
}
.icon-rdc-top-commission:before {
    content: "\e933";
}
.icon-rdc-transparent:before {
    content: "\e934";
}
.icon-rdc-what-we-do:before {
    content: "\e935";
}
.icon-rdc-who-we-are:before {
    content: "\e936";
}

/* RDC Icons End */

/* Social Icons */

.icon-social-angieslist-solid:before {
    content: "\e95e";
}
.icon-social-angieslist-outline:before {
    content: "\e95f";
}
.icon-social-angieslist-symbol:before {
    content: "\e960";
}
.icon-social-facebook-solid:before {
    content: "\e961";
}
.icon-social-facebook-outline:before {
    content: "\e962";
}
.icon-social-facebook-symbol:before {
    content: "\e963";
}
.icon-social-foursquare-solid:before {
    content: "\e964";
}
.icon-social-foursquare-outline:before {
    content: "\e965";
}
.icon-social-foursquare-symbol:before {
    content: "\e966";
}
.icon-social-googleplus-solid:before {
    content: "\e967";
}
.icon-social-googleplus-outline:before {
    content: "\e968";
}
.icon-social-googleplus-symbol:before {
    content: "\e969";
}
.icon-social-instagram-solid:before {
    content: "\e96a";
}
.icon-social-instagram-outline:before {
    content: "\e96b";
}
.icon-social-instagram-symbol:before {
    content: "\e96c";
}
.icon-social-linkedin-solid:before {
    content: "\e96d";
}
.icon-social-linkedin-outline:before {
    content: "\e96e";
}
.icon-social-linkedin-symbol:before {
    content: "\e96f";
}
.icon-social-pinterest-solid:before {
    content: "\e970";
}
.icon-social-pinterest-outline:before {
    content: "\e971";
}
.icon-social-pinterest-symbol:before {
    content: "\e972";
}
.icon-social-twitter-solid:before {
    content: "\e973";
}
.icon-social-twitter-outline:before {
    content: "\e974";
}
.icon-social-twitter-symbol:before {
    content: "\e975";
}
.icon-social-yelp-solid:before {
    content: "\e976";
}
.icon-social-yelp-outline:before {
    content: "\e977";
}
.icon-social-yelp-symbol:before {
    content: "\e978";
}
.icon-social-youtube-solid:before {
    content: "\e979";
}
.icon-social-youtube-outline:before {
    content: "\e97a";
}
.icon-social-youtube-symbol:before {
    content: "\e97b";
}

/* Social Icons End */


