/**
 * Mobile-Only Styles
 *
 */


html.rdc-mobile-menu-opened {
  overflow: hidden;

}

// we actually use those to add some spacing below the menu buttons
.mobile-copyright {
  padding: 2em 0 2em 0;
  display: block;
  clear: both;
  text-align: center;
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .sp-slideshow-block{
    top: -15px;
    margin-bottom: -15px;
  }
}