html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
.dsds{
    
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th,
td {
    font-weight: normal;
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #2B0853;
    font-weight: normal;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
html {
    overflow-y: scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background-color: #DFDFDF;
    border: medium none !important;
    clear: both;
    height: 1px !important;
    margin: 15px 0 !important;
    width: 100%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: smaller;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
    clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
    display: table;
    content: "";
}

/* Form fields, general styles first */


/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
    max-width: 100%;
}

/* Images */
.alignleft {
    float: left;
    margin: 0 15px 10px 0;
}
.alignright {
    float: right;
    margin: 0 0 10px 15px;
}
.aligncenter {
    display: block;
    margin: 10px auto;
}
.clearfix,
.clearfix:before,
.clearfix:after {
    clear: both;
    float: none !important;
    content: "";
}
.left-side {
    float: left;
}
.right-side {
    float: right;
}


/* =Basic structure
-------------------------------------------------------------- */
/* Body, links, basics */
body {
    background-color: #ffffff;
    color: @black;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
a {
    outline: none;
    color: #2B0853;
}
a:hover {
    color: #2B0853;
    text-decoration: none;
}

/* colors */
@orange: #FF8100;
@black: #262626;
@white: #fff;
/* colors */


/* INPUTS */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
    width: 98%;
    padding: 5px 10px;
    border: 1px solid @black;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
    border-color: @orange;
}
input[type="button"],
input[type="submit"] {
    padding: 5px 10px;
    border: 2px solid @black;
    background: #FFF;
    font-size: 14px;
    font-weight: bold;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="submit"]:focus {
    background: @black;
    color: #FFF;
}
input[type="button"]:active,
input[type="submit"]:active {
    color: #FFF;
    background: @orange;
}
/* INPUTS */

.site-logo{
    float: left;
    position: relative;
    z-index: 10;
}
.menu-header-container {
    float: left;
    margin: 28px 0 0 40px;
    #menu-header {
        &>.current-menu-item{
            font-weight: 400;
            background: rgba(0, 0, 0, 0) url('../../images/src/arrow.png') no-repeat scroll 10px 45px;
        }
        &>li {
            float: left;
            margin-right: 40px;
            font-weight: 300;
            position: relative;
            height: 55px;
        a {
            &:hover{
                text-decoration: none;
                font-weight: 400;
            }
            font-size: 18pt;
            color: #5a595c;
        }
        }
        .sub-menu{
            background: #38373a none repeat scroll 0 0;
            height: 60px;
            left: -400px;
            line-height: 60px;
            padding-left: 400px;
            position: absolute;
            top: 45px;
            width: 1584px;
            z-index: 5;
            li{
                float: left;
                margin-right: 40px;
                font-weight: 300;
                position: relative;
            a{
                font-size: 12pt;
                color: @white;
            }
            }
            .current-menu-item{
                font-weight: 400;
            }
        }
    }
}
.head-popups{
    float: right;
    margin-top: 28px;
    a{
        font-weight: 400;
        color: @white;
        background: #cf3428;
        border-radius: 5px;
        padding: 5px;
        width: 100px;
        text-align: center;
        display: inline-block;
        font-size: 12pt;
        &:hover{
            text-decoration: none;
            color: @white;
        }
    }
}
/* =Footer
------------------------------------------------- */
.footerBg1{
    background: #2f2e31;
}
.footerBg2{
    background: #272629;
}
.menu-footer-menu-container{
    height: 30px;
    #menu-footer-menu{
        li{
        border-right: 2px solid @white;
        float: left;
        padding: 0 10px;
        &:last-child{
        border-right: none;
        }
        a{
        color: @white;
        font-size: 10pt;
        }
        }
    }
}
footer {

}/* footer */

/* Adaptive */

// Mode adaptive 1920
@adapt1920: 1920px;

// Mode adaptive 1680
@adapt1680: 1680px;

// Mode adaptive 1600
@adapt1600: 1600px;

// Mode adaptive 1440
@adapt1440: 1440px;

// Mode adaptive 1366
@adapt1366: 1366px;

// Mode adaptive 1360
@adapt1360: 1360px;

// Mode adaptive 1280
@adapt1280: 1280px;

// Mode adaptive 1024
@adapt1024: 1024px;


@media screen and (min-width: @adapt1920) {

}
@media screen and (min-width: @adapt1680) {

}
@media screen and (min-width: @adapt1600) {
    .sub-menu {
        left: -400px;
        padding-left: 400px;
        width: 1584px;
    }
}
@media screen and (min-width: @adapt1440) {

}
@media screen and (min-width: @adapt1366) {

}
@media screen and (min-width: @adapt1360) {

}
@media screen and (min-width: @adapt1280) {
    .sub-menu {
        left: -400px;
        padding-left: 400px;
        width: 1280px;
    }
}
@media screen and (min-width: @adapt1024) {
    .sub-menu {
        left: -230px;
        padding-left: 230px;
        width: 1024px;
    }
}

