@import "header.less";
@import "nav.less";
@import "content.less";
@import "widgets.less";
@import "footer.less";
@import "basic.less";
@import "popup.less";
@import "guide.less";
@import "mobile.less";
@import "property.less";

@import (inline) "bootstrap.min.css";
@import (inline) "bootstrap-theme.min.css";
@import (inline) "jquery-ui.css";
@import (inline) "select2.min.css";
@import (inline) "icons-pack.css";

// Variables
@orange: #FF8100;
@black: #262626;
@white: #fff;
@buttons: #d03528;
@adaptMobile: 992px;
@adaptTablet: 1199px;

@import "buttons.less";


// All child columns will not have a gutter
.row.no-gutter [class*="col-"] {
  padding-left:0;
  padding-right:0;
}

@media screen and ( min-width: @adaptMobile ) and (max-width: @adaptTablet) {
  body{
    &.single-property{
      .singlePropertyHeader{
      .oneAgent{
        position: inherit !important;
        width: 100%;
        margin: 20px 0 0 0;
        right: 0 !important;
        top: 0 !important;
        height: 200px;
        padding: 0;

        .singleShareContainer{
          width: 90%;
          margin-left: 10%;
          height: 198px;
          overflow: hidden;

        }

        img {
          margin: 0 50px;
          float: left;
        }
        .agentTitleBlock{
          float: left;
          span{

          }
        }

        h3{
          clear: none;
        }
        span{
          display: block;
          text-align: center;
        }
        .oneAgentLinksBlock{
          padding: 0 40px;
          margin-top: 25px;
          float: left;
          a{
            width: 100%;
            padding: 15px 10px;
          }
        }
        .socialButtons{
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          margin: 0;
          border-right: 1px solid #eeeaea;
          border-bottom: 1px solid #eeeaea;
          float: left;
          width: 10%;
          height: 200px;
          li{
            width: 100%;
            height: 50%;
            color: #a7a9ac;
            font-size: 2em !important;
            padding: 0;
            border-right: none;
            &:first-child{
              border-bottom: 1px solid #eeeaea;
            }

            a{
              color: #a7a9ac;
              display: block;
              padding: 22px 0 15px;
              outline: none;
              &:focus{
                text-decoration: none !important;
              }
            }
          }
        }
        .rdc-agents-carousel-container{
          float: left;
          width: 90%;

          .rdc-agents-carousel-title {
            float: right;
            height: 200px;
            padding: 0;
            position: relative;
            width: 10%;
            border-left: 1px solid #eeeaea;
            z-index: 6;
            background: #fff none repeat scroll 0 0;

            .rdc-agents-carousel-next {
              border-bottom: 1px solid #eeeaea;
              height: 50%;
              padding-right: 25%;
              right: 0;
              text-align: center;
              top: 0;
              width: 100%;
              padding-top: 30%;
            }
            .rdc-agents-carousel-previous {
              bottom: 0;
              left: auto;
              right: 0;
              top: auto;
              width: 100%;
              text-align: center;
              height: 50%;
              padding-right: 25%;
              padding-top: 30%;
              border-bottom: 2px solid #eeeaea;
            }
          }
          .rdc-agents-carousel-items{
            position: absolute;
            z-index: 5;
          }
          }
        }
      }
      .areaMapBlock {
        .nav-tabs {
          li {
            width: 24.985%;
          }
        }
      }
    }
  }
}



// Large Screens Only
@media screen and (min-width: @adaptMobile) {
  .home {
    .select2-dropdown {
      width: 400px !important;
    }
  }
}

// Small Screens Only
@media screen and (max-width: @adaptMobile) {
  body {

    #header {
      height: 103px;
    }

    background: none !important;

    .site-logo {
      left: 23px;
      top: 5px;
      width: 60px;
      margin: 0;
      height: 60px;

      img {
        max-width: 100%;
      }

    }

    .toggle {
      position: relative;
      right: -7px;
      top: -12px;

      .icon.mobile-menu-toggle {
        width: 30px;
        height: 30px;
      }

    }

    // match the background color of the rdc logo
    .headerTopMenu {
      background: #F3F0E9 !important;
      height: 100px;
      margin-bottom: 15px;
    }

    .ftrdImgGoTop {
      margin-bottom: 16px;
      top: 0 !important;
      .featuredImageHeader {
        top: -40px !important;
      }
    }
    .head-popups {
      display: none;
    }
    .frontPageSearchBlock {
      /*top: -40px !important;*/
      min-height: 800px;
      & > h1 {
        font-size: 3em;
        font-weight: 600;
      }
      & > h4 {
        margin-bottom: 45px;
        margin-top: 25px;
        line-height: 1.8em;
      }

      .sf-property-quantity {
        display: none;
      }
    }



    &.single-property {

      .singlePropertyHeader {
        z-index: 9;
          .container {
            &>ul {
              li {
                float: none;
              }
            }
          }

      }
      .bottomSeparate {
        padding-bottom: 5px;
      }
      .areaMapBlock {
        .ambItem {
          margin: 0 0 30px 0;
        }
        .ws_nmaps{
          li{
            a{
              font-size: 1.5em;
            }
          }
        }
      }
      .propertyDetails{
        .attribute-filter{
          li{
            a{
              font-size: 1.5em;
            }
          }
        }
      }
      .listingProvider {
        .col-lg-8 {
          ul {
            float: none;
            width: 100%;
            margin-left: 0 !important;
          }
        }
      }
      .oneAgent{
        position: inherit !important;
        width: 100%;
        margin: 20px 0 0 0;
        right: 0 !important;
        top: 0 !important;

      }
    }
    .menuDesktop {
      display: none !important;
    }
    .popUpLoginBtn {
      display: none !important;
    }
    .popUpContactBtn {
      margin-right: 10%;
    }
    .mobileMenu, .toggle, .menuAdaptive {
      display: block !important;
    }
    .searchForm {
      form {
        border-radius: 0 0 5px 5px;
        height: 370px;
        padding: 9px;
        .location {
          width: 100%;
          border-radius: 5px;
          margin-bottom: 10px;
          .select2 {
            min-width: 99%;
          }
        }
        .sfBeds {
          width: 100%;
          border-radius: 5px;
        }
        .sfBaths {
          width: 100%;
          margin-top: 10px;
          border-radius: 5px;
        }
        .sfPrice {
          width: 100%;
          border-radius: 5px;
          margin-top: 10px;
        }
        input[type="submit"] {
          width: 100%;
          margin-left: 0;
          margin-top: 10px;
          padding: 18px 20px;
        }
        ul {
          position: relative;
          z-index: 20;
        }
      }
      .sfPriceRange {
        .sfprInputsBlock {

          input {
            width: 48%;
          }
        }
        .left-side {
          width: 50%;
        }
        .right-side {
          width: 50%;
        }
        .firstRangeList {
          padding-right: 15px;
          text-align: center;
        }
        .lastRangeList {
          padding-left: 15px;
          text-align: center;
        }
      }
      &>ul{
        float: none;
        width: 100%;
        &>li{
          width: 49.999%;
          text-align: center;
          float: left !important;
        }
      }
      .sellRentBtns{
        display: none;
      }
    }

    .oneCategory {
      margin: auto;
    }
    .popup {
      left: 30%;
      top: 15%;
    }
    .tabbedWidgetMobile {
      display: block !important;

      .ui-widget-content {
        padding: 10px 10px 40px;
        color: #6d6e71;
        line-height: 2em;

        h4 {
          font-size: 2em;
          color: #5a595c;
        }
        h5 {
          margin-top: 30px;
          font-size: 1.4em;
          color: #5a595c;
        }
        .sow-icon-reddoorcompany {
          color: @buttons;
          display: block;
          float: none;
          font-size: 4em;
          margin: 35px 0;
        }
      }
    }
    .footerWidgetArea2 {
      text-align: center;
      margin-top: 30px;
    }
    .footerWidgetArea3 {
      margin-top: 30px;
    }
    .so-widget-tabbed-content {
      .sow-slider-image-wrapper {
        .tabbedWidgetImageArea {
          display: none;
        }
        .tabbedWidgetContent {
          width: 100% !important;
        }
      }
      .tabbedMobileImageArea {

      }
    }
    .mobileMenu {
      .closeMobileMenu {
        font-size: 2em !important;
      }
      .menu-header-container {
        & > ul {
          & > li {
            & > a {
              font-size: 1.7em !important;
            }
            & > ul {
              & > li {
                & > a {
                  font-size: 1.2em !important;
                }
              }
            }
          }
        }
      }
      & > a {
        font-size: 1.5em;
        &:focus {
          text-decoration: none;
          color: #fff;
        }
      }
      .mobileContactUs {
        display: block;
      }
    }
    .hero-content .so-widget-sow-editor {
      margin: 0 auto;
      padding: 2% 0;
      width: 90%;
    }

  }

  .home {
    .select2-dropdown {
      margin-top: -1px;
    }
  }

  .so-widget-tabbed-content {
    .sow-slider-base {
      display: none !important;
      .sow-slider-pagination {
        display: none;
      }
      .sow-slider-images {
        .sow-slider-image-container {
          display: none;
        }
      }
    }
  }

  .widget_nav_menu {
    ul.menu {
      overflow: hidden;
      border-bottom: 1px solid #fff;
      .menu-item {
        display: list-item;
        border-bottom: 1px solid #fff;
        position: relative;
        text-align: left;
        border-right: 0;
        & + .menu-item {
          display: none;
        }
        .menu-spoiler {
          background: url('../images/src/icon-arrow.png');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 60% auto;
          height: 24px;
          position: absolute;
          right: 3%;
          top: 30%;
          width: 40px;
          cursor: pointer;
          transition: 0.5s;
          transform: rotate(180deg);
          color: #5a595c;
          &.arrow-down {
            transform: rotate(0);
          }
        }
      }
    }
  }

  .archiveFilterBg {
    height: auto;
    padding: 0;
    .archiveFilterBody {
      ul {
        border-bottom: 1px solid #fff;
        li {
          display: list-item;
          border-bottom: 1px solid #fff;
          position: relative;
          text-align: left;
          border-right: 0;
          & + li {
            display: none;
          }
        }
      }
    }
  }

  .popup {
    .popup-overlay {
      background: #fff none repeat scroll 0 0;
      opacity: 1;
    }
    .exitPopup {
      svg {
        color: #000;
      }
    }
  }

  .archiveImageHeader {
    top: -24px;
  }

  .hideTabMobile {
    display: none;
  }
  .footerWidgetArea1{
    margin-top: 18px;
  }
  .so-widget-tabbed-content .tabbedWidgetMobile .ui-accordion-content .tabbedMobileImageArea {
    min-height: auto;
  }
}

.searchForm{
  .select2-search__field{
    height: 52px;
  }
  .select2-search{
    height: 52px;
  }
}

.wpp-advanced-supermap {
    .sm-scrollable-table {
       overflow: visible !important;
     }
     .sm-properties-collection {
         .dropdown-columns-options{
           z-index: 2 !important;
         }
     }
  }

 .sm-properties-list-wrap{
    overflow-y: hidden;
  }


@media screen and (max-width: 600px) {

  .single-property {

    .singlePropertyHeader {
      .container {
        &>ul {
          li {
            display: block;
          }
        }
        .title{
          div{
            span{
              display: block;
              margin-left: 0;
            }
          }
        }
    }
    }
  }
}

/* Only for IE11 */
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    .ie11-attr-position {
      margin-top: 15px;
    }
    .searchForm {
      .select2-search__field {
        height: 30px;
      }
      .select2-search {
        height: 45px;
      }
    }
    &.post-type-archive-rdc_guide{
      .guide-overview-list{
        position: relative;
        right: 17px;
      }
    }
    &.tax-rdc_guide_category{
      .guide-overview-list{
        position: relative;
        right: 17px;
      }
    }
    &.single-rdc_guide{
      .guide-overview-list{
        position: relative;
        right: 17px;
      }
    }
  }

}

/* Edge 12+ */
@supports (-ms-accelerator:true) {
  body {
    &.post-type-archive-rdc_guide{
      .guide-overview-list{
        position: relative;
        right: 17px;
      }
    }
    &.tax-rdc_guide_category{
      .guide-overview-list{
        position: relative;
        right: 17px;
      }
    }
    &.single-rdc_guide{
      .guide-overview-list{
        position: relative;
        right: 17px;
      }
    }
  }
}

/* Only for Safari */

    input[type="checkbox"].styled-checkbox-radio + label::before, input[type="radio"].styled-checkbox-radio + label::before {
      width: 29px;
    }
    .single-property{
      section{
        &.attribute-group-title{
          &>div{
            &>span{

            }
          }
        }
      }
    }