.association-carousel{
  padding: 0 100px !important;
  .sow-carousel-title{
    display: none;
  }
  .sow-carousel-thumbnail{
    a{
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      margin: 20px 40px !important;
      height: 61px !important;
      width: 108px !important;
      &:hover{
        background-size: auto auto !important;
      }
      .overlay{
        background: none !important;
      }
    }
  }
  .sow-carousel-wrapper{
    height: 96px;
  }
  .sow-carousel-items {
    height: 60px;
    .sow-carousel-item {
      width: 200px !important;
      border-right: 1px solid #dcddde;
      border-left: 1px solid #dcddde;
      margin-right: -1px !important;
      h3 {
        display: none;
      }
      a {
        margin: auto;
      }
    }
  }
  .assocCarouselBg{
    height: 96px;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(255,255,255,0)), color-stop(42%, rgba(255,255,255,0)), color-stop(60%, rgba(255,255,255,0)), color-stop(84%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff', GradientType=1 );

  }
}
.widgetRowBg{
  background: url('../images/src/widgetRowBg.png') repeat-y scroll center top;
}
.sellRentMainWidgets{
  .widget_sow-image{
    img{
      display: block;
      margin: 0 auto 5%;
    }
  }
  .widget_sow-editor{
    margin-bottom: 3%;
    h3{
      font-size: 3em;
      font-weight: 600;
      text-align: center;
    }
    div{
      text-align: center;
      margin-top: 20px;
    }
  }
  .widget_sow-button{
    a{
      border: none;
    }
  }
}
.so-widget-tabbed-content{

  .tabbedWidgetTitle{
    color: #5a595c !important;
    text-align: center;
    margin-bottom: 20px !important;
    text-shadow: none !important;
    font-weight: bold;
    font-size: 2.4em;
  }
  .tabbedWidgetMobile{
    display: none;
    .ui-accordion-header{
      background: #fff;
      border: 1px solid #DCD6CA;
      border-radius: 0 !important;
      margin-bottom: -2px;
      padding: 1em 0.5em 1em 0.7em;
      font-size: 1em;
      display: flex;
      &:hover{
        background: #fff;
        border: 1px solid #DCD6CA;
        border-bottom: 1px solid @buttons;
        .sow-icon-reddoorcompany{
          color: @buttons;
        }
      }
      .ui-accordion-header-icon{
        right: 0.5em;
        left: auto;
      }
      .ui-icon{

      }
      .ui-accordion-icons {
        padding-left: 0.8em !important;
      }
      .sow-icon-reddoorcompany{
        margin-right: 20px;
        font-size: 1.4em;
      }
      .mobileFrameTitle{
        align-self: center;
      }
    }
    .ui-accordion-content{
      border: 1px solid #DCD6CA;
      border-radius: 0;
      margin-bottom: -3px;
      .tabbedMobileImageArea{
        width: 100%;
        background-size: cover;
        min-height: 50px;
        background-position: center center;
        margin-top: 15px;
        img{
          height: 100%;
          width: 100%;
        }
      }
    }

  }
  .sow-slider-base{
    padding-top: 70px;
    ul{
      li{
        background: @white !important;

      }
    }
    .sow-slider-pagination{
      top: 20px !important;
      text-align: center !important;
      height: 80px;
        li{
          border: 1px solid #ededed;
          height: 60px !important;
          width: 220px !important;
          margin-left: -6px;
          &:hover{
            border-bottom: 1px solid #F10D2C;
            span{
              color: #F10D2C;
            }
          }
          &.sow-active{
            border-bottom: 1px solid #F10D2C;
            span{
              color: #F10D2C;
            }
            div{

            }
          }
          a{
            text-indent: unset !important;
            color: #5a595c !important;
            width: 220px !important;
            height: 58px !important;
            float: left !important;
            outline: none;
            display: flex;
            padding: 5px 10px;
            &:hover{
              text-decoration: none !important;
            }
            &:focus{
              text-decoration: none !important;
            }
            div{
              float: left;
              font-size: 1em;
              margin-left: 10px;
              width: 105px;
              align-self: center;
              line-height: 23px;
            }
            span{
              font-size: 1.6em;
              margin: 13px 5px 0 15px;
              float: left;
            }
          }
      }
    }
  .sow-slider-image-wrapper{
    padding: 80px 0px !important;
    max-width: 100% !important;
    .tabbedWidgetContent{
      float: left;
      width: 50%;
      overflow: hidden;
      padding: 10em 7em 10em 10em !important;
      h3{
        font-size: 3em !important;
        text-shadow: none !important;
        color: #5a595c !important;
        margin-bottom: 0.5em !important;
        font-weight: bold;
      }
      p{
        color: #5a595c !important;
        text-shadow: none !important;
        margin-bottom: 3em !important;
        line-height: 1.7em;
      }
      .featurePoint{
        margin-bottom: 3em;
        & > span{
          float: left;
          display: block;
          font-size: 5em;
          margin-top: 0.5em;
          margin-left: 0.5em;
          color: #F10D2C;
        }
        & > div{
          float: right;
          width: 70%;
          line-height: 1.8em;
          h4{
            font-size: 1.5em !important;
            text-shadow: none !important;
            color: #5a595c !important;
            font-weight: 400;
            margin-bottom: 15px;
          }
        }
      }
    }
    .tabbedWidgetImageArea{
      width: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      float: right;
    }
   }
  }
}

.widget_nav_menu {
  background: #F3F0E9 none repeat scroll 0 0;

  &.panel-last-child {
    margin-top: -30px;
    margin-bottom: -30px !important;
  }

  ul.menu  {
    border-bottom: 1px solid #d0d4d9;
    border-top: 1px solid #d0d4d9;
    margin: 0 auto;
    text-align: center;

    li {
      border-right: 1px solid #d0d4d9;
      display: inline-block;
      line-height: 1.2em;

      transition: .5s color;

      &:hover {
        color: #d03528;

        a {
          color: #d03528;
        }
      }

      &:before {
        font-size: 1.8em;
        padding-left: 25px;
        position: relative;
        top: 4px;
      }

      &:last-child {
        border-right: none;
      }

      a {
        transition: .5s color;
        padding: 1.6em 2em 1.6em 1.5em;
        display: inline-block;
        color: #5a595c;
        font-size: 16px;
        line-height: 1.2em;
        font-family: 'Poppins', sans-serif;

        &:hover {
          text-decoration: none;
          color: #d03528;
        }
      }
    }
  }
}


.page .so-widget-sow-hero{
  position: relative;
  z-index: 8;
  top: -60px;
  margin-bottom: -60px;

  .sow-slider-image-container {

    h1 {
      font-size: 3.5em !important;
      font-weight: bold;
      line-height: 1.3em;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    }

    h3 {
      font-size: 1.5em !important;
      line-height: 1.75em !important;
      margin-top: 20px !important;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) !important;
    }

  }

}
.so-widget-sow-hero .sow-slider-pagination{
  display: none;
}
.property-resp-slideshow{
  z-index: 9;
}

.so-widget-tabbed-content {

  .sow-slider-base {

    .sow-slider-pagination {
      //padding: 0;
    }

  }

}


/******************************************
 * CUSTOM CLASSES FOR ROWS AND WIDGETS
 ******************************************/

/**
 * ROW class 'no-padding'
 *
 * Removes padding for row and all its columns
 * Usage: http://screencast.com/t/1bv842U3YSB
 */
.no-padding {
  padding: 0 !important;
  .panel-grid-cell {
    padding: 0 !important;
  }
}

/**
 * WIDGET class 'bg-image'
 *
 * Used for empty block which contains only background image
 * It sets block height to be equal with ROW
 * Usage: http://screencast.com/t/XAfp9hxqwv
 */
.bg-image {
  background-position: center center;
}


/**
 * WIDGET class 'masthead'
 *
 * Used for SiteOrigin Hero widget when it's set as masthead
 * Usage: http://screencast.com/t/0N7AGYGW
 */

.full-width-totop {
  .masthead {
    .so-widget-sow-hero {
      top: -30px;
      margin-bottom: -30px;
    }
  }
}




/**
 * WIDGET class 'hero-content'
 *
 * Centers content in widget.
 * Supported widgets: SiteOrigin Editor
 * Usage: http://screencast.com/t/6sJuDdVs2rWo
 */
.hero-content {
  .so-widget-sow-editor {
    margin: 15% auto;
    width: 50%;
    h2 {
      color: #5a595c !important;
      font-size: 2.75em;
      font-weight: bold;
      line-height: 1.5em;
    }
    p.lead {
      margin: 25px 0;
      font-size: 1.3em;
      line-height: 1.55em;
      color: #a7a9ac;
    }
    p {
      font-size: 1.1em;
      line-height: 2em;
    }
  }
}