.association-carousel{
  .sow-carousel-thumbnail{
    a{
      background-repeat: no-repeat !important;
      background-size: auto auto !important;
      height: 60px !important;
      width: 100px !important;
      &:hover{
        background-size: auto auto !important;
      }
      .overlay{
        background: none !important;
      }
    }
  }
  .sow-carousel-wrapper{
    height: 60px;
  }
  .sow-carousel-items {
    height: 60px;
    .sow-carousel-item {
      width: 200px !important;
      border-right: 1px solid #dcddde;
      border-left: 1px solid #dcddde;
      margin-right: -1px !important;
      h3 {
        display: none;
      }
      a {
        margin: auto;
      }
    }
  }
  .assocCarouselBg{
    height: 60px;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(40%, rgba(255,255,255,0)), color-stop(42%, rgba(255,255,255,0)), color-stop(60%, rgba(255,255,255,0)), color-stop(84%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 40%, rgba(255,255,255,0) 42%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 84%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#fff', GradientType=1 );

  }
}
.widgetRowBg{
  background: url('../images/src/widgetRowBg.png') repeat-y scroll center top;
}
.sellRentMainWidgets{
  .widget_sow-image{
    img{
      display: block;
      margin: 0 auto 5%;
    }
  }
  .widget_sow-editor{
    margin-bottom: 3%;
    h3{
      font-size: 3em;
      font-weight: 600;
      text-align: center;
    }
    div{
      text-align: center;
      margin-top: 20px;
    }
  }
  .widget_sow-button{
    a{
      border: none;
    }
  }
}

.so-widget-tabbed-content{
  .tabbedWidgetTitle{
    color: #5a595c !important;
    text-align: center;
    margin-bottom: 20px !important;
    text-shadow: none !important;
  }
  .sow-slider-base{
    padding-top: 70px;
    ul{
      li{
        background: @white !important;
      }
    }
    .sow-slider-pagination{
      top: 20px !important;
      text-align: center !important;
      height: 80px;
        li{
          border: 1px solid #ededed;
          height: 50px !important;
          width: 150px !important;
          margin-left: -6px;
          &:hover{
            border-bottom: 1px solid #F10D2C;
            span{
              color: #F10D2C;
            }
          }
          &.sow-active{
            border-bottom: 1px solid #F10D2C;
            span{
              color: #F10D2C;
            }
          }
          a{
            text-indent: unset !important;
            color: #5a595c !important;
            width: 146px !important;
            height: 48px !important;
            float: left !important;
            outline: none;
            div{
              float: left;
              font-size: 0.8em;
              line-height: 1.4em;
              margin-left: 10px;
              margin-top: 8px;
              width: 95px;
            }
            span{
              font-size: 2em;
              margin-top: 9px;
              margin-left: 9px;
              float: left;
            }
          }
      }
    }
  .sow-slider-image-wrapper{
    .tabbedWidgetContent{
      float: left;
      width: 50%;
      overflow: hidden;
      h3{
        font-size: 3em !important;
        text-shadow: none !important;
        color: #5a595c !important;
      }
      p{
        color: #5a595c !important;
        text-shadow: none !important;
        padding-right: 1em;
      }
      .featurePoint{
        & > span{
          float: left;
          display: block;
          font-size: 5em;
          margin-top: 0.5em;
          margin-left: 0.5em;
          color: #F10D2C;
        }
        & > div{
          float: right;
          width: 70%;
          h4{
            font-size: 2em !important;
            text-shadow: none !important;
            color: #5a595c !important;
          }
        }
      }
    }
    .tabbedWidgetImageArea{
      width: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      float: right;
    }
   }
  }
}