.htaccess
*.sql
legacy/
dev/
/wp-content/plugins/wordfence/tmp
/wp-content/updraft
.ftpquota
error_log
/wp-content/storage
/wp-content/uploads
/wp-content/upgrade
.idea
*.log
.DS_Store
cache
node_modules
nohup.out
wp-content/plugins/wp-responsive-jquery-slider/README.txt
.maintenance
/*.sh