# Restrict access to .git directory
RedirectMatch 404 /\.git
RedirectMatch 404 /\wp-cli.yml
RedirectMatch 404 /\composer.json
RedirectMatch 404 /\composer.lock

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
RewriteCond %{HTTP_HOST} ^rightwaytorent\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rightwaytorent\.com$
RewriteRule ^/?$ "http\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^rentincarync\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rentincarync\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^caryresidentialrentalproperties\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.caryresidentialrentalproperties\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^caryresidentialrentals\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.caryresidentialrentals\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^forrentcary\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.forrentcary\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^raleighpropertyrentals\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.raleighpropertyrentals\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^raleighresidentialrentalproperties\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.raleighresidentialrentalproperties\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^raleighresidentialrentals\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.raleighresidentialrentals\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^rentmyhome\-cary\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rentmyhome\-cary\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^xn\-\-propertymanagementcary\-7y5m\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.xn\-\-propertymanagementcary\-7y5m\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]

RewriteCond %{HTTP_HOST} ^xn\-\-propertymanagementraleigh\-sr5o\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.xn\-\-propertymanagementraleigh\-sr5o\.com$
RewriteRule ^/?$ "https\:\/\/www\.reddoorcompany\.com" [R=301,L]
