.section-header {
	background: @white;
}

/** ----------------------------------------:[ header navigation ]:--- */
.section-header-navigation {
	background: @primary;
}

/** ----------------------------------------:[ branding ]:--- */
.site-branding {
	font-size: 24px;
	font-size: 24/16rem;
	h1 {
/*		float: left;*/
		margin: 0;
		font-weight: normal;
		font-size: 1.5em;
		a {
			display: inline-block;
			padding: 20px 0 0;
			padding: 1.25rem 0 0;
			color: @white;;
			.transition( ~'all .2s ease' );
			span {

			}
			i {
				display: inline-block;
				margin-right: 0.3em;
				line-height: 0.5;
			}
			&:hover {

			}
		}
	}
	.site-tagline {
		display: block;
		padding-bottom: 2em;
		color: @white;
		font-size: 14px;
		font-size: 14/16rem;
	}
}

/** ----------------------------------------:[ navigation ]:--- */
.site-navigation {
	@bg: @primary;
	text-align: right;
	.menu {
		list-style: none;
		margin: .8em 0 0;
		padding: 0;
		font-size:0;
		line-height: 1.5;
		.clearfix;
		li {
			direction: rtl;
			text-transform: uppercase;
			font-size: 14px;
			font-size: 0.875rem;
			text-align: left;
			a {
				direction: ltr;
				padding: 52px 20px;
				padding: 52/16rem 20/16rem;
				border-left: 1px solid transparent;
				border-color: rgba( 255, 255, 255, .1 );
				color: @white;
				.transition( ~'all .2s ease' );
				&:hover {
					background: lighten( @bg, 2% );
					background-color: rgba( 255, 255, 255, .1 );
					color: @white;
				}
			}
			&.current-menu-ancestor {
				> a {
					background: lighten( @primary, 2% );
					color: @white;
					&:hover {
						background: @bg;
					}
				}
			}
			&.current-menu-item {
				> a {
					background: lighten( @primary, 2% );
					color: @white;
				}
			}
			i.fa-search {
				padding: 0 0.5em;
			}
		}
		> li {
			&:last-child a {
				border-right: 1px solid transparent;
				border-color: rgba( 255, 255, 255, .1 );
			}
		}
	}
	.sub-menu {
/*		padding-top: 1em;*/
		text-align: left;
		li {
			margin: 0;
			font-size: 12px;
			font-size: 12/16rem;
			a {
				padding: 1em;
				background: lighten( @dark, 10% ) ;;
				border: 0;
				color: lighten( @dark, 60% );
				&:hover {
					background: lighten( @dark, 30% );
					color: @white;
				}
			}
			&.current-menu-ancestor,
			&.current-menu-item {
				> a {
					&:hover {
						background: lighten( @dark, 30% );
						color: @white;
					}
				}
			}
			&:last-child {
				border-right: none;
			}
		}
		.sub-menu {
			padding-top: 1em;
			padding-left: 1em;
		}
	}
	#mobile-menu-close {
		display: none;
		a {
			background: @dark;
			color: #FFF;
			i {
				float: right;
				font-size: 1.5em;
			}
		}
	}
}

/** ---:[ mobile menu ]:--- */
#mobile-menu-toggle {
	display: none;
	width: 100%;
	margin-right: 0;
	padding: 1em;
	color: @white;
	text-transform: uppercase;
	text-align: left;
	.transition( ~'all .2s ease' );
	i {
		float: right;
		font-size: 1.5em;
	}
	&:hover {
		background: lighten( @primary, 2% );
		color: @white;
	}
}

/** ----------------------------------------:[ search ]:--- */
.section-property-search {
	display: none;
	padding: 1em 0 1.5em;
	background: @primary;
	border-top: 1px solid transparent;
	border-color: rgba( 255, 255, 255, .1 );
	color: @white;
	label {
		display: block;
		color: @white;
	}
	.price-inputs {
		input {
			width: 45%;
		}
	}
	.col-3-12 {
		.col-inner {
			margin-right: 1em;
		}
	}
	input,
	select {
		background: transparent;
		border-color: @white;
		color: @white;
		&:focus {
			background: @white;
			border-color: @green;
			color: @green;
		}
	}
	.submit {
		margin-top: 28px;
	}
}

/** ----------------------------------------:[ breadcrumbs ]:--- */
.section-breadcrumbs {
	background: lighten( @light, 5% );
	font-size: 12px;
	font-sixe: 12/16rem;
}
.breadcrumb-trail {
	@color: darken( @light, 12% );
	color: @color;
	a,
	.trail-end {
		display: inline-block;
		padding: 1em .5em;
	}
	a {
		position: relative;
		color: @color;
		.transition( ~'all .2s ease' );
		&:hover {
			color: @primary;
		}
	}
	.trail-end {
		a {
			padding: 0;
		}
	}
	.trail-begin {
		padding: 0;
	}
}