/**
 * Theme Name: RedDoorCompany Theme
 * Description: RDC Theme
 * Theme URI: http://www.reddoorcompany.com
 * Author: UsabilityDynamics, Inc.
 * Author URI: https://usabilitydynamics.com
 * Version: 1.0.0
 * Text Domain: rdc
 * GitHub Theme URI: https://github.com/usabilitydynamics/www.reddoorcompany.com
 * GitHub Branch: master
 * Template: wp-madison-2.0
 * This file is for WordPress theme recognition only, the actual styles may be found in the "static/styles" directory.
 *
 */