/**
 * Theme Name: RedDoorCompany Theme
 * Description: RDC Theme
 * Theme URI: http://www.reddoorcompany.com
 * Author: UsabilityDynamics, Inc.
 * Author URI: https://usabilitydynamics.com
 * Version: 1.0.0
 * Text Domain: rdc
 * GitHub Theme URI: https://github.com/usabilitydynamics/www.reddoorcompany.com
 * GitHub Branch: master
 * Template: wp-madison-2.0
 * This file is for WordPress theme recognition only, the actual styles may be found in the "static/styles" directory.
 */
a:hover {
  text-decoration: none;
}
.contact_form .label {
  color: black;
  font-size: 100%;
}
.contact_form .field {
  margin-bottom: 25px;
}
.contact_form .field select {
  max-width: 330px;
}
.contact_form .field input[type="radio"] {
  margin-left: 10px;
  margin-right: 10px;
}
#menu-header {
  float: left;
}
#mobile-menu-toggle {
  float: right;
  width: auto !important;
}
#mobile-menu-toggle i {
  margin-left: 1em;
}
@media screen and (max-width: 480px) {
  #mobile-menu-toggle span {
    display: none;
  }
  #mobile-menu-toggle i {
    margin-left: 0;
  }
}
#site-header .site-navigation {
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  /* SECONDARY MENU */
}
@media screen and (max-width: 1000px) {
  #site-header .site-navigation {
    position: relative;
    display: block;
  }
}
@media screen and (max-width: 650px) {
  #site-header .site-navigation {
    display: block;
    position: static;
  }
}
#site-header .site-navigation.secondary-menu-wrapper {
  min-height: 100px;
}
#site-header .site-navigation .secondary-menu {
  float: left;
  margin-left: 15px;
  margin-top: 0;
}
@media screen and (max-width: 1000px) {
  #site-header .site-navigation .secondary-menu {
    position: absolute;
    top: calc(50% - 15px);
    right: 0;
  }
}
@media screen and (max-width: 650px) {
  #site-header .site-navigation .secondary-menu {
    margin: 0;
    position: static;
  }
}
@media screen and (max-width: 650px) {
  #site-header .site-navigation .secondary-menu .menu {
    width: auto !important;
  }
}
#site-header .site-navigation .secondary-menu .menu li.menu-item {
  margin-right: 10px;
}
#site-header .site-navigation .secondary-menu .menu li.menu-item a {
  color: #808285;
  border: 1px solid #808285;
  border-radius: 5px;
  height: 36px;
  line-height: 26px;
  padding: 5px 10px !important;
  background-color: #fff;
}
#site-header .site-navigation .secondary-menu .menu li.menu-item a:hover {
  text-decoration: none;
  background-color: #fff;
  color: #bf2b1f;
  border-color: #bf2b1f;
}
@media screen and (max-width: 650px) {
  #site-header .site-navigation .secondary-menu .menu {
    position: static;
    background: none;
    padding: 0;
    height: 59px;
  }
  #site-header .site-navigation .secondary-menu .menu li.menu-item {
    margin: 0;
    height: 59px;
    float: left;
    background: inherit;
  }
  #site-header .site-navigation .secondary-menu .menu li.menu-item + li.menu-item {
    border-left: 1px solid #EA6771;
  }
  #site-header .site-navigation .secondary-menu .menu li.menu-item a {
    font-size: 16px;
    height: 59px;
    line-height: 50px;
    border: none;
    border-radius: 0;
    padding: 5px 15px !important;
  }
  #site-header .site-navigation .secondary-menu .menu li.menu-item a:hover {
    text-decoration: none;
  }
}
#site-header .rdc-section-header-navigation {
  /* TOP MENU */
  /* Multipurpose Search Form */
}
#site-header .rdc-section-header-navigation.madison-header-menu-wrapper .menu > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 70px;
  border: 0;
}
@media screen and (max-width: 650px) {
  #site-header .rdc-section-header-navigation.madison-header-menu-wrapper .menu > li > a {
    line-height: 25px;
  }
}
#site-header .rdc-section-header-navigation .multipurpose-search-wrapper {
  align-items: center;
  display: flex;
  min-height: 100px;
}
#site-header .rdc-section-header-navigation .multipurpose-search-wrapper form input,
#site-header .rdc-section-header-navigation .multipurpose-search-wrapper form select {
  padding: 0 10px;
  border: 1px solid #cccdce;
  color: #808285;
  height: 36px;
}
#site-header .rdc-section-header-navigation .multipurpose-search-wrapper form input {
  width: 200px;
  padding-left: 35px;
  background-image: url("static/images/search.png");
  background-position: 5% center;
  background-repeat: no-repeat;
}
#site-header .rdc-section-header-navigation .multipurpose-search-wrapper form select {
  width: auto;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("static/images/arrow-down.png");
  background-position: 90% center;
  background-repeat: no-repeat;
  padding-right: 30px;
}
.widget_rdc-schedule-showing form span.required,
.widget_rdc-prospect-owner-form form span.required {
  position: absolute;
  color: red;
}
.widget_rdc-schedule-showing form .label,
.widget_rdc-prospect-owner-form form .label {
  color: black;
  font-size: 100%;
}
.widget_rdc-schedule-showing form .field,
.widget_rdc-prospect-owner-form form .field {
  margin-bottom: 20px;
}
.ui-datepicker {
  box-shadow: 0 0 12px #eee;
  -webkit-box-shadow: 0 0 12px #eee;
  -moz-box-shadow: 0 0 12px #eee;
}
.ui-datepicker .ui-datepicker-header {
  background: white;
  border: 1px solid #ededed;
  padding: 10px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  text-align: center;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  float: right;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  float: left;
}
.ui-datepicker .ui-datepicker-calendar {
  margin: 0;
}
