@font-face {
	font-family: 'wpp-icomoon';
	src:    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.eot?ob605w');
	src:    url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.eot?ob605w#iefix') format('embedded-opentype'),
	url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.woff2?ob605w') format('woff2'),
	url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.ttf?ob605w') format('truetype'),
	url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.woff?ob605w') format('woff'),
	url('https://s3.amazonaws.com/icomoon.io/28703/wpproperty/icomoon.svg?ob605w#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sow-icon-wpproperty {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'wpp-icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sow-icon-wpproperty[data-sow-icon]:before {
	content: attr(data-sow-icon);
}
.sow-icon-wpproperty[data-sow-icon] .path1:before {
	content: attr(data-sow-icon);
	color: rgb(0, 0, 0);
}
.sow-icon-wpproperty[data-sow-icon] .path2:before {
	content: attr(data-sow-icon);
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.sow-icon-wpproperty[data-sow-icon] .path3:before {
	content: attr(data-sow-icon);
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.sow-icon-wpproperty[data-sow-icon] .path4:before {
	content: attr(data-sow-icon);
	margin-left: -1em;
	color: rgb(0, 0, 0);
}