@font-face {
	font-family: 'rdc-icomoon';
	src:    url('./font/icomoon.eot?1gwudq');
	src:    url('./font/icomoon.eot?1gwudq#iefix') format('embedded-opentype'),
	url('./font/icomoon.woff2?1gwudq') format('woff2'),
	url('./font/icomoon.ttf?1gwudq') format('truetype'),
	url('./font/icomoon.woff?1gwudq') format('woff'),
	url('./font/icomoon.svg?1gwudq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sow-icon-reddoorcompany {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'rdc-icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sow-icon-reddoorcompany[data-sow-icon]:before {
	content: attr(data-sow-icon);
}