/*
    Responsive 

*/
@650px: ~"only screen and (max-width: 650px)";
@550px: ~"only screen and (max-width: 550px)";

.swiper-container {
    width: 100%;
    &.gallery-top{
        position:relative;
        margin-bottom:2.5px;
        &.ratio-16-9{
            &:before {
                content: "";
                display: block;
                padding-top: 56.25%;
            }
            .swiper-wrapper{
                position: absolute;
                top: 0px;
                left: 0px;
                bottom: 0px;
                right: 0px;
            }
        }
    }
    &.gallery-thumbs {
        height: 100px;
        @media @650px{
            height:80px;
        }
        @media @550px{
            height:70px;
        }
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        width: auto;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        .gallery-top&{
            opacity: .5;
            max-width: 100%;
        }
        .gallery-top&.swiper-slide-active{
            opacity: 1;
        }
        img{
            max-height: 100% !important;
            max-width: 100% !important;
            width: auto;
            height: auto;
        }
    }
    
}