.wpp-advanced-supermap {
  /**
   * We are hiding supermap before data loaded.
   */
  display: none;

  overflow: hidden;

  .marker-infowindow {
    /**
     * We never show infowindow. It's for internal usage!
     */
    display: none;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .sm-google-map {
    display: block;
    widht: 100%;
    height: 100%;
  }

}