.widget_guide_content{
    margin: 15px 0 !important;
}
.gc-image{
    max-width: 30%;
    float: right;
}
.gc-image img{
    float: left;
    height: 100%;
    width: 100%;
}
 .gc-left-side{
    float: left;
    width: 70%;
    padding: 1%;
    background: #fff none repeat scroll 0 0;
}
.gc-left-side ul li{
    line-height: 2em;
}
.gc-left-side ul li:before{
    content: '\25cb';
    font-size: 1.5em;
    margin-right: 5px;
}
.gc-left-side ul li a{
    color: #6d6e71;
    font-size: 1.2em;
}
.gc-left-side ul li .sub-menu{
    display: none;
}





