/*-----------------------------------------------------------------------------------*/
/*  react-transition-group
/*-----------------------------------------------------------------------------------*/
.toggle-enter, .toggle-enter.toggle-enter-active {
  opacity: 0.01;
  transform: scaleY(0);
}

.toggle:not(.toggle-enter) {
  opacity: 1;
  transform-origin: 0 0;
  transform: scaleY(1);
  -webkit-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
     -moz-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
       -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
          transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.toggle-exit {
  opacity: 1;
  transform: scaleY(1);
  transform-origin: 0 0;
}

.toggle-exit.toggle-exit-active {
  opacity: 0.01;
  transform: scaleY(0);
    -webkit-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
       -moz-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
         -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
            transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*-----------------------------------------------------------------------------------*/
/*  css animations
/*-----------------------------------------------------------------------------------*/
@keyframes unfoldIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }
  50% {
    transform: scaleY(.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(.005) scaleX(1);
  }
  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.89);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.01;
    transform-origin: 0 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes blowUpModal {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

/************************************
  Search Modal Animation
*************************************/
.propertypro-search-modal {
  display: block;
  transition: transform .3s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &.remove {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }

  &.propertypro-location-modal {
    &.active {
      .filter-container {
        transform: translateY(-500px);
        animation: bounceInDown .3s .5s ease-in-out forwards;
      }
    }
  }

  &.propertypro-advanced-filter {
    &.active {
      .filter-container {
        transform: translateY(-500px);
        animation: bounceInDown .3s .5s ease-in-out forwards;
      }
    }

    .propertypro-filter-section {
/*      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0 0;
      animation: fadeIn .5s 1s ease-in-out forwards;

      &.all-filters {
        animation: fadeIn .5s ease-in-out forwards;
      }*/
    }
  }
}
