/*-----------------------------------------------------------------------------------*/
/*  Blog
/*-----------------------------------------------------------------------------------*/

.propertypro-blog-posts,
.propertypro-related-posts {
    padding: 5rem 0 8rem;
}

.propertypro-blog-posts {
    min-height: 50rem;
}

.propertypro-posts-wrapper {
    margin: 0 -3rem;
}

.propertypro-post-card {
    margin-bottom: 5.625rem;
    padding: 0 3rem;

    .propertypro-post__image {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 63.63%;
        background-position: center center;
        background-size: cover;
    }

    .propertypro-post__title {
        display: block;
        margin: 3rem 2.5rem 2rem 0;
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 700;
    }

    .propertypro-post__text {
        color: #8b8c8d;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 2.25rem;
    }
}

.propertypro-blog-posts {
    .propertypro-load-more {
        margin-top: 2.5rem;

        .btn {
            border-radius: 3px;
            line-height: 2.5rem;
            width: 100%;
            height: 3.75rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: #FFF;
        }
    }
}

.propertypro-share-post {
    width: 12.875rem;
    margin: auto;

    .propertypro-share-post-link {
        width: 3.625rem;
        height: 3.625rem;
        display: inline-block;
        margin-right: .9375rem;
        text-align: center;
        float: left;
        line-height: 3.875rem;
    }

    a > i {
        color: #fff;
        font-size: 1.5rem;
    }

    a:last-child {
        margin-right: 0;
    }

    .propertypro-facebook {
        line-height: 4rem;
        background-color: #3a5a98;
    }

    .propertypro-share-post .propertypro-twitter {
        background-color: #1a97ce;
    }

    .propertypro-share-post .propertypro-linkedin {
        background-color: #388ba9;
    }
}


.propertypro-related-posts {
    .propertypro-more-posts {
        padding-bottom: 5rem;
        width: 100%;

        h4 {
            font-size: 2rem;
            font-weight: 400;
            line-height: 3rem;
        }
    }
}

.propertypro-post-content {
    margin-top: 4rem;

    .propertypro-post-content-container {
        max-width: 60rem;
        border-bottom: .125rem solid #d2dae0;
        padding-bottom: 8rem;
    }

    h2 {
        line-height: 3rem;
        margin-bottom: .50em;
        font-weight: 700;
    }

    p {
        line-height: 2rem;
        color: #8b8c8d;
        font-size: 1.10rem;
        margin-bottom: 2em;
    }

    a {
        color: #8b8c8d;
    }

    img {
        margin: 3rem 0;
        max-width: 100%;
    }
}


@media screen and (max-width: 47.938em) {

    .propertypro-blog-posts,
    .propertypro-related-posts {
        padding: 2rem 0;
    }

    .propertypro-blog-posts {
        min-height: 30rem;
    }

    .propertypro-posts-wrapper {
        margin: 0 -15px;
    }

    .propertypro-post-card {
        margin-bottom: 2rem;
        padding: 0 1rem;

        .propertypro-post__title {
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 1rem 0;
        }

        .propertypro-post__text {
            font-size: 0.75rem;
            line-height: 1.25rem;
        }
    }

    .propertypro-related-posts .propertypro-more-posts {
        padding: 4rem 0;

        h4 {
            font-size: 1.625rem;
        }
    }

    .propertypro-blog-posts .propertypro-load-more {
        margin-top: 0;

        .btn {
            line-height: 1.5rem;
            height: 2.5rem;
            font-size: 1rem;
        }
    }

    .propertypro-post-content {
        h2 {
            font-size: 1.75rem;
            line-height: 2.5rem;
        }

        p {
            line-height: 1.75rem;
            font-size: 1.050rem;
        }
    }

    .propertypro-share-post {
        width: 9.375rem;

        .propertypro-share-post-link {
            width: 2.625rem;
            height: 2.625rem;
            margin-right: .625rem;
            line-height: 2.875rem;
        }

        a > i {
            font-size: 1.125rem;
        }

        a:last-child {
            margin-right: 0;
        }

        .propertypro-facebook {
            line-height: 2.875rem;
        }
    }
}
