.propertypro-content-placeholder {
  svg {
    width: 100%;
    height: auto;

    rect {
      width: 100%;
      height: 100%;
    }
  }

  // search results description on map view
  &.propertypro-headtitle {
    h1 {
      width: 40%;
      height: 2rem;
      overflow: hidden;
    }

    p {
      width: 80%;
      height: 1.5rem;
      overflow: hidden;
    }
  }

  // property cards on map view
  .propertypro-card-img {
    line-height: 0;
  }

  .propertypro-card-title {
    width: 75%;
    height: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .propertypro-card-text {
    width: 50%;
    height: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
  }

  .propertypro-listing-info-box {
    display: flex;
    justify-content: flex-start;

    & > * {
      width: 20%;
      height: 1rem;
      overflow: hidden;
      padding-right: 1rem;
    }
  }
}
