.propertypro-form {
    color: #414141;
    font-size: 1rem;

    .modal-header {
        border-bottom: 0
    }
}

.propertypro-form form {
    .form-group {
        margin-bottom: 0.7rem;
    }

    .form-check-input {
        margin-right: .50rem;
    }

    input, textarea, select {
        border: 1px solid #d2dae0;
        border-radius: 0.375rem;
        padding: 1.25rem;
    }

    textarea {
        line-height: 1.85rem;
    }

    button {
        border-radius: .1875rem;
        display: block;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.5625rem;
        padding: .60em 2em;
        width: 100%;
    }

    button, button:focus, button:hover, button:active {
        background: #d33320 !important;
        border-color: #d33320 !important;
        cursor: pointer;
    }

    select {
        /* override browsers default styles for the select box */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: #414141;
        background: url(/wp-content/themes/wp-property-pro/static/images/src/dropdown-caret.png) no-repeat right;
        background-position: right 0.75rem center;
        height: auto !important;
        opacity: 1;

        .gray {
            background: red linear-gradient(0deg, red 0%, red 100%);
        }
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #A3A1A1;
    }
    input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
      color: #A3A1A1;
    }
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
      color: #A3A1A1;
    }
    input:-moz-placeholder, textarea:-moz-placeholder { /* Firefox 18- */
      color: #A3A1A1;
    }

    .help-block {
        color: #8b8c8d;
        padding-left: 0.05rem;
        font-size: 0.75rem;
    }
}

/* Extra small devices (portrait phones, less than 767px) */
@media screen and (max-width: 47.938em) {
    .propertypro-form form {
        input, textarea, select {
            padding: 0.75rem;
        }

        button {
            padding: 0.5rem 2rem;
        }
    }
}

/*-----------------------------------------------------------------------------------*/
/*  Form Success Message
/*-----------------------------------------------------------------------------------*/

.propertypro-form-success-message-container {
    text-align: center;
}

.propertypro-form-success-message-container img {
    margin-bottom: 2.625rem;
}

.propertypro-form-confirmation-paragraph {
    color: #8b8c8d;
}
