@import './animations.scss';
@import './variables.scss';

@import './sidebar.scss';
@import './sale-type-panel.scss';
@import './search-navigation.scss';
@import './search-map.scss';
@import './property-single.scss';

/* @TODO split this file into components */
@import './original.scss';
