/** Masthead */

.propertypro-masthead {
    background-size: cover !important;
    position: relative;
    margin-bottom: 0;

    .propertypro-masthead-container {
        position: relative;
        z-index: 1;
        max-width: 60rem;
        margin-top: 11rem;
        margin-bottom: 7rem;
    }

    .propertypro-masthead-title {
        color: #FFF;
        margin-bottom: 2rem;
    }

    .propertypro-bottom-title {
        color: #FFF;
    }

    .propertypro-masthead-blog-title {
        color: #FFF;
        margin-bottom: 3rem;
    }

    .propertypro-masthead-subtitle {
        font-size: 1.75rem;
        margin-bottom: 3.5rem;
    }

    .propertypro-masthead-subtitle-top {
        font-size: 1.75rem;
        margin-bottom: 2.5rem;
    }
}


.propertypro-masthead-shadow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .45);
}

.propertypro-guide-masthead, .propertypro-article-masthead {
    display: table;
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .45);
    }
}

.propertypro-guide-masthead header,
.propertypro-article-masthead .propertypro-article-header {
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
    position: relative;
}

.propertypro-guide-masthead .propertypro-guide-header-container,
.propertypro-article-masthead .propertypro-article-header-container {
    max-width: 40rem;
}

.propertypro-guide-masthead h1,
.propertypro-article-masthead h1 {
    color: #FFF;
    margin-bottom: 1.5rem;
}

.propertypro-guide-masthead h1 {
    font-size: 3rem;
}

.propertypro-article-masthead h1 {
    font-size: 2rem;
}

.propertypro-guide-masthead p,
.propertypro-article-masthead p {
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.propertypro-article-masthead {
    nav {
        ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            flex: 1;

            a {
                display: block;
                font-size: 1rem;
                line-height: 3.75rem;
                color: #fff;
            }
        }
    }
}

.propertypro-article-masthead nav li a .fa {
    font-size: 0.6875rem;
}

.propertypro-article-masthead li.propertypro-nav-item-prev a,
.propertypro-article-masthead li.propertypro-nav-item-back a {
    background-color: #434343;
}

.propertypro-article-masthead li.propertypro-nav-item-next a {
    background-color: #2b2b2b;
}

.propertypro-article-masthead li.propertypro-nav-item-back a .fa,
.propertypro-article-masthead li.propertypro-nav-item-prev a .fa {
    margin-right: .3125rem;
}

.propertypro-article-masthead li.propertypro-nav-item-next a .fa {
    margin-left: .3125rem;
}

/** Masthead search */
.propertypro-search-box {
    box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: .3125rem;
    max-width: 32rem;
    position: relative;

    .propertypro-btn-search {
        height: 5rem;
        font-size: 1.5rem;
        background-color: #FFF;
        font-weight: 500;
        width: 100%;
        padding-left: 11.5rem;
        padding-right: 1.5rem;
        color: rgba(139, 140, 141, 0.4);
        outline: none;
        box-shadow: none;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.propertypro-short-padding {
            padding-left: 1.5rem;
        }

        i {
            margin-left: 1.5rem;
        }
    }

    .propertypro-drop-search {
        width: 10rem;
        height: 5rem;
        border-radius: .25rem 0 0 .25rem;
        position: absolute;
        top: 0;
        line-height: 5rem;
        cursor: pointer;

        i {
            font-size: 1.125rem;
            margin-left: .5rem;
            position: relative;
            float: right;
            display: block;
            top: 1.875rem;
            right: .625rem;
        }

        ul {
            box-shadow: 0 .75rem 1.5rem rgba(0, 0, 0, 0.15);
            border-radius: .3125rem;
            width: 12.5rem;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
            list-style-type: none;
            top: .0625rem;
            position: relative;
            left: 0;
            display: none;
        }

        li a {
            display: block;
            text-align: left;
            padding: 0 1.25rem;
            font-size: 1.15rem;
            line-height: 3.125rem;
            border-bottom: .0625rem solid #dde4e9;
            font-weight: 700;
        }

        li:last-child a {
            border-bottom: 0;
        }
    }
}

.propertypro-search-options-type-container {
    font-size: 1.15rem;

    &:hover {
        cursor: pointer
    }
}

/** Masthead search mobile */
.propertypro-find-home-type {
    margin: 2rem auto 2.5rem;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        padding: 0 .3125rem;

        a {
            color: #fff;
            padding: .5rem 0;
            opacity: 0.5;
            font-size: 1.10rem;
            font-weight: 700;
            line-height: .625rem;
            border-bottom: .25rem solid transparent;
        }

        &.propertypro-active a {
            opacity: 1;
            border-bottom-color: #fff;
        }
    }
}

/* Extra small devices (portrait phones, less than 767px) */
@media screen and (max-width: 47.938em) {
    .propertypro-masthead {
        .propertypro-masthead-container {
            margin-top: 5rem;
            margin-bottom: 0;
            width: 100%;

            h1 {
                word-wrap: break-word;
            }
        }
    }

    .propertypro-masthead-blog-title {
        font-size: 2rem;
    }

    .propertypro-article-masthead {
        position: static;
        height: 100vh;

        p  {
            font-size: 1rem;
        }
    }

    .propertypro-guide-masthead .propertypro-guide-header-container,
    .propertypro-article-masthead .propertypro-article-header-container {
        max-width: 35rem;
        margin-bottom: 7rem;
        margin-top: 10rem;
    }

    .propertypro-masthead .propertypro-search-box li a {
        font-size: 1rem;
        border-bottom-width: 2px;
    }

    .propertypro-masthead.propertypro-subnavigation-text-layout p {
        font-size: 1.5rem;
    }

    .propertypro-search-box {
        .propertypro-btn-search {
            padding: 0 1rem;
        }

        .propertypro-drop-search {
            display: none;
        }
    }
}

@media (min-width: 40.000em) and (max-width: 47.938em) {
    .propertypro-article-masthead .propertypro-article-header {
        display: block;
    }
}

/* Extra small devices (portrait phones, less than 640px) */
@media screen and (max-width: 40.000em) {
    .propertypro-masthead {
        .propertypro-masthead-title,
        .propertypro-bottom-title {
            font-size: 2rem;
            line-height: 2.5rem;
            margin-bottom: 3rem;
        }

        .propertypro-bottom-title {
            margin-bottom: 6rem;
        }

        .propertypro-masthead-subtitle,
        .propertypro-masthead-subtitle-top {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }
    }

    .propertypro-masthead.propertypro-subnavigation-text-layout h1 {
        font-size: 1.8rem;
        padding-top: 3.4375rem;
    }

    .propertypro-find-home-type {
        margin: 2rem auto;

        .propertypro-masthead-title {
            padding: 0 1rem;
        }

        li a {
            font-size: 1rem;
        }
    }
} 

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 35.938em) {
    .propertypro-guide-masthead {
        h1 {
            font-size: 2.2rem;
        }

        p {
            font-size: 1.1rem;
        }
    }
}

/* Extra small devices (portrait phones, less than 440px) */
@media screen and (max-width: 28.125em) {
    .propertypro-guide-masthead {
        h1 {
            font-size: 1.8rem;
        }
    }
}

/* Extra small devices (portrait phones, less than 360px) */
@media screen and (max-width: 22.500em) {
    .propertypro-guide-masthead .propertypro-guide-header-container,
    .propertypro-article-masthead .propertypro-article-header-container {
        max-width: 20rem;
        margin-bottom: 0;
        margin-top: 0;
    }
}

/* company name with nowrap style */
span.text-nowrap {
    font-family: inherit !important;
}
