/* search modal common */
.propertypro-search-modal {
    background-color: #e9eff3;
}

.propertypro-search-modal .propertypro-modal-dialog {
    max-width: 100%;
    height: 100%;
}

.propertypro-search-modal .modal-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0;
}

.propertypro-search-modal .propertypro-modal-header {
  flex: 0 0 auto;
  height: 5rem;
  padding: 0;
  @include propertypro-box-shadow(0px, 1px);
  border-bottom: none;

  & > .propertypro-logo {
    padding: 0 2.5rem;
  }

  & > .propertypro-drop-nav {
    padding: 0 2.25rem;

    a {
      cursor: default;
    }
  }
}


.propertypro-search-modal .propertypro-modal-header .propertypro-flex-wrapper {
    position: relative;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: hidden;

    .propertypro-bs-tags-box {
        overflow-x: auto;
    }
    &::after {
      position: absolute;
      content: '';
      width: 3rem;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.001), white 50%);
      top: 0;
      right: -1px;
      bottom: 0;
      z-index: 2;
    }
}

.propertypro-search-modal .propertypro-modal-body {
    flex: 1;
    background-color: #e9eff3;
    overflow: auto;
    padding: 0;
    border-top: 1px solid $propertypro-border-color;
}

.propertypro-search-modal .propertypro-close-panel {
    font-size: 2rem;
    outline: 0;
}

.propertypro-search-modal .propertypro-modal-header .fa.fa-search {
    font-size: 1.5rem;
    color: #d8d8d8;
}

.propertypro-search-modal .propertypro-modal-header input {
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
    padding: 0;
}

.propertypro-masthead .propertypro-search-modal .propertypro-search-modal-box .search-title, .propertypro-search-modal form .form-control {
    font-size: 1.5rem;
}

.propertypro-search-modal form .propertypro-button-search-submit {
    border-radius: .2rem;
    border-color: #d6dee3;
    background-color: #d6dee3;
    color: #b6bec4;
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.25rem;
    cursor: pointer;
    box-shadow: none;
    min-width: 9.375rem;
}

.propertypro-search-modal form input.propertypro-with-padding {
    padding: .5rem 1rem;
}


/* search modal -> Location Search */
.propertypro-location-modal {
  z-index: 1100;
}

// animations
.propertypro-location-modal {
  display: block;
  transition: transform .3s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out;

  &.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &.remove {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }

  &.active {
    .propertypro-modal-header {
      transform: translateY(-500px);
      animation: bounceInDown .3s .5s ease-in-out forwards;
    }
  }
}
// -- END of animations --

.propertypro-search-title {
  color: #8b8c8d;
}

.propertypro-search-result-group {
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;

  .list-group {
    margin-bottom: 1.5rem;

    .list-group-item {
      border: none;
      background-color: inherit;
      font-family: 'Playfair Display';
      font-size: 2.5rem;
      line-height: 3.25rem;
      padding: 0;
      margin-top: 1.5rem;
      color: #414141;

      &:hover, &:focus {
        background-color: rgba(255, 255, 255, .5);
      }
    }
  }
}

p.propertypro-gentle-error {
  font-size: 1.5rem;
  color: #414141;
  padding: 2rem 1rem;
}

.propertypro-error-message-container {
    color: #000000;
}

.propertypro-error-message-container i {
    display: inline !important;
}

.propertypro-error-message-container p {
    vertical-align: middle;
    display: inline-block;
}

/* location modal - featured cities cards */
.propertypro-featured-cities-wrapper {
  padding: 2rem 0 0;

  .propertypro-card {
    cursor: pointer;
    margin-bottom: 3rem;
  }
}
/* end of featured cities cards */

/* Extra small devices (portrait phones, less than 640px) */
@media screen and (max-width: 40.000em) {
  .propertypro-location-modal .propertypro-search-result-group {
    margin-top: 1rem;
  }

  .propertypro-search-result-group {
    .list-group {
      margin-bottom: 1rem;

      .list-group-item {
        font-size: 1rem;
        line-height: 2.25rem;
        margin-top: 0.5rem;
      }
    }
  }

  .propertypro-search-modal .propertypro-modal-header {
    height: 3rem;
    padding: 0;

    .container {
      width: 100%;
      padding: 0 1rem;
    }

    .fa.fa-search {
      font-size: 1.125rem;
    }

    input {
      padding: 0;
      font-size: 1rem;
    }

    .btn {
      padding: 0.4rem 1rem;
      font-size: 1rem;
    }

    & > .propertypro-logo {
      padding: 0 0.5rem;
    }

    & > .propertypro-drop-nav {
      font-size: 1rem;
      padding: 0 1rem;

      a {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }

  p.propertypro-gentle-error {
    font-size: 1rem;
  }

  .propertypro-featured-cities-wrapper {
    .propertypro-card {
      margin-bottom: 2rem;
    }
  }
}
