/***********
  animation
************/
.propertypro-search-modal.propertypro-advanced-filter {
  transition: .5s all;

  &.active {
    transform: translateY(0) scale(1);
  }

  &.remove {
    transform: translateY(-100%) scale(1);
  }

  &.active {
    .propertypro-modal-header {
      transform: translateY(-500px);
      animation: bounceInDown .3s .5s ease-in-out forwards;
    }
  }
}
// -- END of animations --
