/*
 * side user panel
 */
.propertypro-modal.sidebar {
    .modal-dialog {
        position: fixed;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 25rem;
        height: 100%;
        -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
             -o-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
    }

    .modal-content {
        height: 100%;
        overflow-y: auto;
        border-radius: 0;
        border: none;
    }
}

.propertypro-modal.sidebar--right {
    .modal-dialog {
        right: 0;
        left: auto;
    }
}

.propertypro-modal.sidebar--navigation {
    .modal-header {
        min-height: 3.4375rem;
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
        margin-bottom: 0.5rem;
    }

    .modal-body {
        padding: 0;
        display: flex;
        flex-direction: column;

        & > div {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    .propertypro-menu-wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .propertypro-menu__main-items {
        flex: 1 0 auto;
    }

    .propertypro-menu__more-items {
        margin-top: 0.5rem;
    }

    .propertypro-menu-item {
        padding: 0 2rem 0 3rem;
        transition: height 0.3s ease-in-out;

        & > a {
            display: flex;
            align-items: center;
        }
    }

    .propertypro-menu-icon {
        flex: 0 0 auto;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        display: flex;
        align-items: center;

        img {
            height: 100%;
        }
    }

    .propertypro-menu-label {
        flex: 1 0 auto;
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 6rem;
    }

    .propertypro-menu-item--bordered {
        border-bottom: 1px solid #d2dae0;
        padding-bottom: 0.5rem;

        & + .propertypro-menu-item {
            padding-top: 0.5rem;
        }
    }

    .propertypro-menu-item--expander {
        border-top: 1px solid #d2dae0;
        cursor: pointer;
        padding-top: 2.5rem;

        span.fa {
            font-size: 1.5rem;
        }
    }

    .propertypro-menu-item {
        display: block;
        animation: fadein .35s ease-in;
    }

    .propertypro-menu-item--hidden {
        display: none;
        opacity: 0;
        animation: fadein .35s ease-in;
    }
}

// animations
.propertypro-modal {
    &.sidebar {
        display: block !important;
        transition: visibility .3s ease-in-out;

        &:not(.show) {
          visibility: hidden;
        }

        &.show {
          visibility: visible;
        }
    }

    &.sidebar--right {
        &:not(.show) .modal-dialog {
            transition: transform .2s ease-in-out;
            transform: translateX(100%);
        }

        &.show .modal-dialog {
            transition: transform .3s ease-in-out;
            transform: translateX(0%);
        }
    }
}
// end of animations

@media screen and (max-width: 47.938em) {
    .propertypro-modal.sidebar .modal-dialog {
        width: 100%;
    }

    .propertypro-modal.sidebar--navigation {
        .propertypro-menu-item {
            padding: 0 2.25rem;
        }

        .propertypro-menu-icon {
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 1.25rem;
        }

        .propertypro-menu-label {
            line-height: 3.25rem;
            font-size: 0.875rem;
        }

        .propertypro-menu-item--bordered {
            padding-bottom: 0.25rem;

            & + .propertypro-menu-item {
                padding-top: 0.25rem;
            }
        }

        .propertypro-menu-item--expander {
            span.fa {
                font-size: 1.25rem;
            }
        }
    }

    // animations on mobile should play from left to right
    .propertypro-modal.sidebar--navigation {
        &:not(.show) .modal-dialog {
            transform: translateX(-100%);
        }

        &.show .modal-dialog {
            transform: translateX(0%);
        }
    }
}
