.propertypro-page-not-found-container .propertypro-masthead-subtitle {
  color: #000000;
}

.propertypro-not-found {
  background-color: #e9eff3;
}

.propertypro-page-not-found-container .propertypro-masthead .propertypro-masthead-container {
  margin-top: 8rem;
}

.propertypro-page-not-found-container h1.propertypro-masthead-title {
  font-size: 2rem;
  color: #414141;
}

.propertypro-page-not-found-container p.propertypro-masthead-subtitle {
  font-size: 1.25rem;
  color: #8B8C8D;
}

.propertypro-not-found-img {
  margin-top: 5rem;
  width: 100%;
}

.propertypro-page-not-found-container a.propertypro-login-box, .propertypro-page-not-found-container a.propertypro-login-box:visited {
  border-color: #d03528 !important;
  background-color: #d03528 !important;
}

.propertypro-page-not-found-container .propertypro-navigation-menu-button {
  color: #000000;
}