/** Property card */

.propertypro-card {
    border-radius: .625rem;
    overflow: hidden;
    border-color: #d2dae0;
    opacity: 0.99;
    margin-bottom: 1px;
}

.propertypro-card-img-top {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, #000000 100%);
    }

    .propertypro-price {
        position: absolute;
        z-index: 2;
        left: 1.5rem;
        bottom: 1.125rem;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: #FFF;
        font-weight: 700;
    }

    .propertypro-label {
        position: absolute;
        z-index: 2;
        top: 1.125rem;
        left: 1.75rem;
        font-size: 0.75rem;
        line-height: 0.75rem;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
    }

    .propertypro-action-buttons {
        position: absolute;
        z-index: 2;
        right: 1.5rem;
        bottom: -1.5rem;

        a {
            display: block;
            width: 3rem;
            height: 3rem;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
            border-radius: 3.5rem;
            background-color: #FFF;
            margin: 0 0 0 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: 1.25rem;
            color: rgba(65, 65, 65, 0.5);
            transition: all .3s ease;
        }
    }
}

.propertypro-card-block {
    position: relative;
    padding: 1rem 1.5rem;
    text-align: left;
}

.propertypro-card .propertypro-card-block > * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.propertypro-card .propertypro-card-title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #414141;
}

.propertypro-card .propertypro-card-text {
    color: #8b8c8d;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.25rem;
}

.propertypro-card .propertypro-listing-info-box {
    font-size: 1.125rem;
    margin: 0;
}

.propertypro-card .propertypro-card-attrs {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #414141;
}

.propertypro-card .propertypro-card-img .bg-card-img {
    width: 100%;
    padding-bottom: 52.8%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.propertypro-card-img {
    position: relative;
}

/** Responsive attribute labels on property cards **/
.propertypro-card .propertypro-listing-info-box {
    li.attr-bd::after {
        content: "Bedrooms";
    }
    li.attr-ba::after {
        content: "Bathrooms";
    }
    li.attr-sf::after {
        content: "SQFT";
    }
    li.attr-ac::after {
        content: "Acres";
    }

    @media (max-width: 410px), (min-width: 576px) and (max-width: 617px), (min-width: 711px) and (max-width: 910px), (min-width: 1380px) and (max-width: 1780px) {
        li.attr-bd::after {
            content: "Bed";
        }
        li.attr-ba::after {
            content: "Bath";
        }
    }

    @media (min-width: 618px) and (max-width: 710px), (min-width: 1200px) and (max-width: 1380px) {
        li.attr-bd::after {
            content: "BD";
        }
        li.attr-ba::after {
            content: "BA";
        }
        li.attr-ba+li.attr-sf::after {
            content: "SF";
        }
    }

    @media (min-width: 576px) and (max-width: 617px) {
        li.attr-ba+li.attr-sf {
            display: none;
        }
    }
}
/** End of attribute labels **/