.propertypro-page-layout-container-inner.propertypro-with-sale-types-panel-open {
  .propertypro-single-container::after {
    @include propertypro-backdrop;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  Property Single
/*-----------------------------------------------------------------------------------*/

.propertypro-single-container {
  position: relative;
  color: #000000;
}

.propertypro-single-masthead {
  background-color: rgba(232, 238, 242, 0.5);

  h4 {
    color: #414141;
    font-weight: 700;
  }
}

.propertypro-top-information-card-container {
  background-color: #e8eef2;
}

.propertypro-single-container .propertypro-top-information-card {
  border: none;
}

.propertypro-info-section-header {
  color: #333;
  font-weight: 600;
  line-height: 1.5rem;
}

.propertypro-info-description {
  line-height: 1.85rem;
}

.propertypro-attr-box {
  color: #333;

  p {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    opacity: 0.5;
  }

  p + p {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    opacity: 1;
  }
}

.propertypro-single-highlights {
  .propertypro-info-section-header {
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #FFF;
  }

  .propertypro-attr-box-container {
    margin-top: -1px;
  }

  .propertypro-attr-box {
    padding: 1.25rem 0;
    margin-right: 1rem;
    border-top: 1px solid #EAEAEA;
  }
}

ul.card-header-tabs {
  flex-wrap: wrap;
}

/*-----------------------------------------------------------------------------------*/
/*  Property Images Carousel
/*-----------------------------------------------------------------------------------*/
.propertypro-property-single-carousel {
  position: relative;
  background: #eceeef;

  .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: auto;
  }

  .img-main, .img-sub, .img-mobile {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .img-mobile {
    width: 100%;
    padding-bottom: 100%;
  }


  &:not(.propertypro-viewport-short) {
    min-height: 37.5rem;

    .img-main {
      width: 37.5rem;
      height: 37.5rem;
    }

    .img-sub {
      width: 18.625rem;
      height: 18.625rem;

      &:first-child {
        margin-bottom: 0.25rem;
      }
    }
  }

  &.propertypro-viewport-short {
    min-height: 25rem;

    .img-main {
      width: 25rem;
      height: 25rem;
    }

    .img-sub {
      width: 12.375rem;
      height: 12.375rem;

      &:first-child {
        margin-bottom: 0.25rem;
      }
    }
  }


  .propertypro-direction-nav .propertypro-nav-prev,
  .propertypro-direction-nav .propertypro-nav-next {
      opacity: 1;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  Agent Contact Form
/*-----------------------------------------------------------------------------------*/
.propertypro-agent-contact-form {
  border: 1px solid #e1e5e6;
  border-radius: 0.3125rem;

  .propertypro-agent-card {
    background-color: #f3f6f8;
    padding: 2.375rem 2rem 2rem 2rem;
    border-top-right-radius: 0.3125rem;
    border-top-left-radius: 0.3125rem;
  }

  .propertypro-agent-photo {
    clip-path: circle(50px at center);
  }

  .propertypro-agent-card-content {
    h5 {
      font-weight: bold;
    }

    p {
      font-weight: bold;
      font-size: 0.875rem;
      color: $propertypro-primary-color;
    }

    div {
      background-color: #ffffff;
      border: 0.0625rem solid #d2dae0;
      border-radius: 0.3125rem;
      display: inline-block;
      padding: 0.625rem 0.9375rem;
      min-width: 11.875rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .propertypro-agent-contact-form-tabs {
    border-top: 0.0625rem solid #e1e5e6;

    .propertypro-tab {
      background-color: #f3f6f8;
      text-align: center;

      &:first-child {
        border-right: 0.0625rem solid #e1e5e6;
      }

      a {
        color: #8b8c8d;
        display: block;
        padding: 1.375rem;
        margin: 0;

        &:hover {
          color: #414141;
        }
      }
    }

    .propertypro-tab-selected {
      border-bottom: 0.1875rem solid #d33320;
      font-weight: 700;

      a {
        color: #414141;
      }
    }
  }

  .propertypro-agent-contact-form-content {
    padding: 2.375rem 2rem 2rem 2rem;
  }

  .propertypro-agent-contact-form-description {
    color: #8b8c8d;
    font-size: 1rem;
  }
}

/*-----------------------------------------------------------------------------------*/
/*  Sticky Agent Card
/*-----------------------------------------------------------------------------------*/
.propertypro-single-container .propertypro-sticky-container {

  &.propertypro-agent-hidden {
    background-color: rgba(232, 238, 242, 0.5);
    padding-bottom: 3rem;

    .propertypro-request-buttons {
      overflow: hidden;
      height: 3rem;

      button {
        margin-right: 1.25rem;
      }
      button + button {
        margin-right: 0rem;
      }
    }

    &.is-sticky {
      padding: 1.25rem 0;
      background-color: white;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);

      .propertypro-request-buttons {
        padding-bottom: 0;
      }
    }
  }



  &.is-sticky {
    .propertypro-agent-card {
      margin-top: 0;
    }

    &.propertypro-agent-shown {
      &:before {
        content: '';
        display: block;
        height: 2rem;
      }
    }
  }

  .propertypro-agent-card {
    border: 1px solid #d2dae0;
    border-radius: 0.25rem;
    background-color: white;
    padding: 2rem;
    margin-top: -8rem;

    .propertypro-agent-avatar {
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
      background-size: contain;
      background-position: center center;
      margin-bottom: 2.375rem;
    }

    .propertypro-agent-name {
      font-size: 1.25rem;
      font-weight: bold;
      color: #414141;
      margin-bottom: 0.75px;
    }

    .propertypro-agent-company {
      font-size: 0.75rem;
      color: #d33320;
      margin-bottom: 1.25rem;
    }

    .propertypro-agent-phone {
      font-size: 1rem;
      font-weight: bold;
      color: #414141;
      margin-bottom: 2rem;
    }

    .propertypro-request-buttons {
      display: flex;
      flex-direction: column;

      button + button {
        margin-top: 0.75rem;
      }
    }
  }
}

/*-----------------------------------------------------------------------------------*/
/*  Attribute Tabs
/*-----------------------------------------------------------------------------------*/
.propertypro-attr-tabs-header {

  .propertypro-attr-tabs-scroll {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;

    .swiper-slide {
      box-sizing: border-box;
      width: auto;
    }
  }

  .propertypro-attr-tab {
    background-color: #F9F9F9;
    color: #9D9D9D;
    border: 0.5px solid #E9E9E9;
    min-width: 10rem;
    padding: 1.25rem 2rem;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #FFF;
    }

    &.propertypro-attr-tab-active {
      background-color: #FFF;
      color: #333;
      border-bottom: 0;
    }
  }

  .swiper-button-next-custom, .swiper-button-prev-custom {
    position: absolute;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10;
    top: 0;
    width: 1.5rem;
    height: 4rem;
    border: 1px solid #E9E9E9;
    background-color: #F9F9F9;
    color: #9D9D9D;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #FFF;
    }
  }
  .swiper-button-next-custom {
    right: 0;
    left: auto;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,0.03);
  }
  .swiper-button-prev-custom {
    left: 0;
    right: auto;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,0.03);
  }
  .swiper-button-disabled {
    display: none;
  }
}

.propertypro-attr-tabs-content {
  border: 1px solid #E9E9E9;
  padding: 0 2.5rem 2rem;
  margin-top: -1px;
}


.propertypro-attr-group {
  width: 100%;
  padding-top: 2rem;

  &.propertypro-attr-group-50 {
    width: 45%;
  }

  .propertypro-attr-group-title {
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #D9D9D9;
  }
}

.propertypro-attr-group-content {
  & > div {
    border-bottom: 1px solid #EAEAEA;
    font-size: 1rem;
    padding: 1rem 0;
    /*white-space: nowrap;
    overflow: auto;*/

    span {
      color: #8b8c8d;
    }
    span + span {
      color: #333;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
