.propertypro-sale-type-selection {
    background-color: #d03528;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.propertypro-sale-type-selection .propertypro-selection-container {
    text-align: center;
}

.propertypro-sale-type-selection .propertypro-selection-container a {
    color: #fff;
    display: block;
    padding: 1.6rem 0;
}

.propertypro-sale-type-selection .propertypro-selection-container a img {
    display: block;
    margin: 0 auto 1rem auto;
}

.propertypro-sale-type-selection .propertypro-selection-container a:hover {
    background: rgba(65, 65, 65, .3);
}

/*.propertypro-sale-type-selection div a .icon-container svg:hover .sale-icons {
  fill: #000;
}*/

.propertypro-sale-type-selection div a span {
    margin-top: 1rem;
}

/* Extra small devices (portrait phones, less than 360px) */
@media screen and (max-width: 22.500em) {
    .propertypro-sale-type-selection div p {
        color: #ffffff;
        margin-top: 1rem;
        text-align: center;
    }
}

/** ANIMATION **/
.propertypro-sale-type-selection {
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    transform: translateY(0%);

    &.remove {
        opacity: 0;
        transform: translateY(-131px);
    }
}
/** END OF ANIMATION **/