.propertypro-page-layout-container-inner.propertypro-with-sale-types-panel-open {
  .propertypro-search-map-container::after {
    @include propertypro-backdrop;
  }
}

.propertypro-listing-sidebar {
  /*border-right: 1px solid $propertypro-border-color;*/
}

.propertypro-listing-map {
  @include propertypro-box-shadow(-2px, 1px);
}

.propertypro-listing-map .propertypro-panel-on-map {
  position: absolute;
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  z-index: 10;
  display: block !important;

  &.propertypro-hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in;
  }

  &.propertypro-display {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.propertypro-listing-map .propertypro-single-container {
  width: calc(100% - 25px);
  height: 100%;
  overflow-y: auto;
  background-color: white;
  @include propertypro-box-shadow(2px, 2px, 4px);
}

.propertypro-listing-map {
  .propertypro-panel-on-map-close, .propertypro-panel-on-map-open {
    position: absolute;
    top: 15px;
    right: 0;
    z-index: 1000;
    background-color: #edf2f5;
    border: 2px solid #d2dae0;
    color: #414141;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .propertypro-panel-on-map-open {
    top: 70px;
  }
}
