.propertypro-header-search-container form .propertypro-addfilter {
    font-weight: 700;
    color: #d33320;
    background-color: transparent;
}

.propertypro-header-search-container {
  height: 5.0625rem;
}

.propertypro-header-search-container.propertypro-with-sale-types-panel-open {
  height: 13.25rem;

  .propertypro-header-search-navigation {
    transform: translateY(131px);
  }

  .propertypro-header-search-navigation::after {
    /*@include propertypro-backdrop;*/
  }
}

.propertypro-header-search-navigation {
  position: relative;
  transition: transform .2s ease-in-out;
  transform: translateY(0px);

  @include propertypro-box-shadow(0px, 1px);
  border-bottom: 1px solid $propertypro-border-color;

  .propertypro-drop-nav .fa {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);

    &.up {
      transform: rotate(-180deg);
    }
  }
}

.propertypro-bs-tags-box {
  .propertypro-tag {
    display: inline-block;
    margin-right: 0.625rem;
  }
}
