.propertypro-header-search-container {
  height: 5.0625rem;
}

.propertypro-header-search-container.propertypro-with-sale-types-panel-open {
  height: 13.25rem;

  .propertypro-header-search-navigation {
    transform: translateY(131px);
  }

  .propertypro-header-search-navigation::after {
    /*@include propertypro-backdrop;*/
  }
}

.propertypro-header-search-navigation {
  position: relative;
  transition: transform .2s ease-in-out;
  transform: translateY(0px);

  @include propertypro-box-shadow(0px, 1px);
  border-bottom: 1px solid $propertypro-border-color;
  height: 100%;

  .propertypro-drop-nav .fa {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);

    &.up {
      transform: rotate(-180deg);
    }
  }
}

.propertypro-bs-tags-box {
  .propertypro-tag {
    margin-right: 0.625rem;
    display: inline-block;
  }

  .propertypro-tag.propertypro-addfilter {
    font-weight: 700;
    color: #d33320;
    background-color: transparent;
  }

  .propertypro-tag:last-child {
    margin-right: 2.5rem;
  }
}

.propertypro-header-search-navigation {
  & > .propertypro-logo {
    padding: 0 2.5rem;
  }

  & > .propertypro-drop-nav {
    cursor: pointer;
    padding: 0 2.25rem;
  }

  & > .propertypro-search-box-wrap {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0 1.25rem;
    height: 5rem;
  }
}

.propertypro-toolbar .propertypro-search-filters {
  cursor: pointer;
  height: 100%;

  .propertypro-bs-tags-box {
    position: relative;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 1;

    & > div {
      overflow-x: auto;
    }

    &::after {
      position: absolute;
      content: '';
      width: 3rem;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.001), white 50%);
      top: 0;
      right: -1px;
      bottom: 0;
      z-index: 2;
    }
  }
}

.propertypro-toolbar .propertypro-top-nav-bar {
  height: 5rem;
  border-left: 1px solid $propertypro-border-color;
}

@media screen and (max-width: 40em) {
  .propertypro-header-search-container {
    height: 3rem;
  }

  .propertypro-header-search-navigation > .propertypro-logo {
    padding: 0 1rem;
  }

  .propertypro-header-search-navigation .propertypro-search-box-wrap {
    height: 3rem;
    padding: 0 0.5rem;
  }

  .propertypro-header-search-navigation > .propertypro-logo {
    padding: 0 0.5rem;
  }
}
