/** Subnavigation */

.propertypro-subnavigation {
    background-color: #e9eff3;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            width: 17.5rem;
            border-right: .0625rem solid #dde4e9;
            display: inline-table;

            &:last-child {
                border-right: 0;
            }
        }
    }

    ul li a {
        height: 16.25rem;
        text-align: center;
        color: #414141;
        display: table-cell;
        vertical-align: middle;

        img {
            width: 3.75rem;
            height: 3.75rem;
            opacity: 0.6;
        }

        span {
            display: block;
            font-size: 1.25rem;
            font-weight: 700;
            margin: 1.25rem 0 0;
        }

        &:hover {
            svg path {
                fill: red;
            }
        }
    }
}

.propertypro-subnavigation.propertypro-subnavigation-text-layout {
    nav {
        width: 100%;
    }

    ul {
        .propertypro-subnavigation-btn {
            float: right;
            text-align: center;
        }

        li {
            width: auto;
            border: 0;

            &:last-child a {
                margin-right: 0;
            }

            a {
                display: inline-block;
                float: none;
                height: auto;
                padding: 1.75rem .5rem 1.625rem;
                color: #c1c3c4;
                font-size: 1.125rem;
                font-weight: 500;
                border-bottom: .25rem solid transparent;
                margin-right: 1rem;
            }
        }
    }

    .btn {
        font-size: 1.125rem;
        color: #fff;
        font-weight: 700;
        line-height: 1.5rem;
        padding: .625rem 1.375rem;
        margin-top: 1.25rem;
    }
}

/* Medium devices (tablets, less than 1199px) */
@media screen and (max-width: 74.938em) {
    .propertypro-subnavigation.propertypro-subnavigation-icon-layout .propertypro-subnavigation-container,
    .propertypro-subnavigation.propertypro-subnavigation-icon-layout .propertypro-subnavigation-container nav {
        width: 100%;
    }

    .propertypro-subnavigation ul li {
        width: 25%;
    }
}

/* Extra small devices (portrait phones, less than 767px) */
@media screen and (max-width: 47.938em) {
    .propertypro-subnavigation.propertypro-subnavigation-text-layout ul .propertypro-subnavigation-btn {
        float: none;
        width: 100%;
    }

    .propertypro-subnavigation.propertypro-subnavigation-text-layout {
        text-align: center;
    }

    .propertypro-subnavigation.propertypro-subnavigation-text-layout ul li {
        float: none;
        display: inline-block;
        width: 100%;
        height: 4rem;
        line-height: 4rem;
        border: 0;
        margin: 0;
        border-bottom: .0625rem solid #e1e1e1;
    }

    .propertypro-subnavigation.propertypro-subnavigation-text-layout ul li a {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    .propertypro-subnavigation-mobile-selected-option {
        background-color: #edf2f5;
        height: 4rem;
        line-height: 4rem;
        font-size: 1rem;
    }

    .propertypro-subnavigation-mobile-selected-option i, .propertypro-subnavigation-mobile ul li i {
        float: right;
        top: 1.3rem;
        right: 1.5rem;
        position: relative;
        color: #9a9b9c;
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .propertypro-subnavigation-mobile ul li a {
        padding: 0 !important;
    }

    .propertypro-subnavigation-mobile ul li a:not(.propertypro-active):not(:hover):not(:active):not(:focus) {
        color: #8b8c8d !important;
    }

    .propertypro-subnavigation-mobile .propertypro-subnavigation-btn {
        position: fixed;
        bottom: 0;
        z-index: 999;
        width: 100%;
        left: 0;
        height: 3.75rem;
        margin: 0 !important;
        line-height: 3.75rem !important;
        padding: 0 !important;
    }

    .propertypro-subnavigation ul li:nth-child(2n+0) {
        border-right: 0;
    }

    .propertypro-subnavigation ul li:nth-of-type(3), .services ul li:nth-of-type(4) {
        border-bottom: 0;
    }

    .propertypro-subnavigation ul li a {
        height: 15.625rem;

        img {
            width: 3rem;
            height: 3rem;
        }
    }

    .propertypro-subnavigation.propertypro-subnavigation-text-layout {
        overflow: hidden;
    }
}

@media (min-width: 40.000em) and (max-width: 47.938em) {
    .propertypro-subnavigation-container {
        width: 100%;
    }
}

@media screen and (max-width: 62.000em) {
    .propertypro-subnavigation ul li {
        float: left;
        width: calc(50% - 0px);
        border-right: .0625rem solid #dde4e9;
        border-bottom: .0625rem solid #dde4e9;
        display: inline-table;
    }

    .propertypro-subnavigation.propertypro-subnavigation-icon-layout .propertypro-subnavigation-container {
        width: 100%;
    }

    .propertypro-subnavigation .propertypro-subnavigation-container ul li {
        border-bottom: none;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 35.938em) {
    .propertypro-subnavigation ul li a span {
        font-size: 1rem;
    }
}

/* Extra small devices (portrait phones, less than 440px) */
@media screen and (max-width: 28.125em) {
    .propertypro-subnavigation ul li a {
        height: 12.5rem;
    }
}

/* Extra small devices (portrait phones, less than 360px) */
@media screen and (max-width: 22.500em) {
    .propertypro-subnavigation ul li a {
        height: 11.25rem;
    }
}