/** ---:[ footer ]:--- */
#site-supplementary {
	.widget {
		width: 100%;
		&:nth-child(2n+1) {
			clear: none;
		}
	}
}

/** ---:[ wpp ]:--- */
.property-overview {
	&-grid,
	&-grid-3,
	&-grid-4 {
		.property-overview-item {
			width: 100%;
			&:nth-child( 2n+1 ) {
				clear: none;
				.col-inner {
					margin-right: 0;
				}
			}
			&:nth-child( 2n+2 ) {
				.col-inner {
					margin-left: 0;
				}
			}
		}
	}
}
.super_map {
  max-height: 300px;
  width: 100%;
  float: none;
}

.super_map_list {
  float: none;
  height: auto;
  max-height: 500px;
  min-height: 200px;
  position: static;
  width: 100%;
}

.section-property-search {
  padding: 10px 0;
  padding-bottom: 0;
}

.section-property-search .column.col-2x4-12 {
  padding: 0 5px;
  margin-bottom: 10px;
}

.section-property-search .column.col-2x4-12:last-child {
  width: 100%;
  padding: 0;
}

.section-property-search .column.col-2x4-12:last-child input {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}