.widget_promote{
    margin: 15px 0 !important;
}
.widget_promote .widgetBody{
    width: 400px;
    height: 300px;
    border-radius: 5%;
    padding: 10% 5% 5%;
    background-size: cover !important;
}
.widget_promote .widgetBody a{
    background: #cf3428 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-align: center;
    width: 150px;
}
.widget_promote .widgetBody h2{
    color: #fff;
    margin: 0 0 20px;
}
.widget_promote .widgetBody h3{
    color: #ededed;
    margin: 0 0 20px;
    line-height: 35px;
}



