/*
    Responsive 

*/
.swiper-container {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    display: none;
  }
}
.swiper-container.gallery-top {
  position: relative;
  margin-bottom: 2.5px;
}
.swiper-container.gallery-top.ratio-16-9:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.swiper-container.gallery-top.ratio-16-9 .swiper-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.swiper-container.gallery-thumbs {
  height: 100px;
}
@media only screen and (max-width: 650px) {
  .swiper-container.gallery-thumbs {
    height: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .swiper-container.gallery-thumbs {
    height: 70px;
  }
}
@media only screen and (max-width: 768px) {
  .swiper-container.gallery-thumbs {
    display: none;
  }
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.gallery-top.swiper-container .swiper-slide {
  opacity: .5;
  max-width: 100%;
}
.gallery-top.swiper-container .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container .swiper-slide img {
  max-height: 100% !important;
  max-width: 100% !important;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .swiper-container .count-progress {
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    left: 15px;
    z-index: 1;
    padding: 0.4em 0.8em 0.4em;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
  }
}
