/*
    Responsive 

*/
.swiper-container {
  width: 100%;
  height: 400px;
}
.swiper-container.gallery-thumbs {
  height: 100px;
}
@media only screen and (max-width: 650px) {
  .swiper-container.gallery-thumbs {
    height: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .swiper-container.gallery-thumbs {
    height: 70px;
  }
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  width: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.gallery-top.swiper-container .swiper-slide {
  opacity: .5;
  max-width: 100%;
}
.gallery-top.swiper-container .swiper-slide.swiper-slide-active {
  opacity: 1;
}
.swiper-container .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}
