.wpp-advanced-supermap {
  /**
   * We are hiding supermap before data loaded.
   */
  display: none;
  overflow: hidden;
  /*
  table {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 500px; // this can vary
  }


  table * {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
  }


  thead {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }


  tbody {
    overflow-y: scroll;
    display: inline-block;
  }


  thead > tr, tbody > tr, tfoot > tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }


  thead, tfoot {
    flex-shrink: 0;
  }


  th, tbody td {
    width: 20%; // this can vary
    overflow-x: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    border-left: 0;
    border-right: 0;
  }


  tfoot {
    display: inline-block;
    border-left: 0;
    border-right: 0;
  }


  tfoot td {
    width: 100%;
    display: inline-block;
  }
  //*/
}
.wpp-advanced-supermap .sm-marker-infobubble {
  /**
     * We never show infowindow. It's for internal usage!
     */
  display: none;
}
.wpp-advanced-supermap .row {
  margin-left: 0;
  margin-right: 0;
}
.wpp-advanced-supermap .col-md-1,
.wpp-advanced-supermap .col-md-2,
.wpp-advanced-supermap .col-md-3,
.wpp-advanced-supermap .col-md-4,
.wpp-advanced-supermap .col-md-5,
.wpp-advanced-supermap .col-md-6,
.wpp-advanced-supermap .col-md-7,
.wpp-advanced-supermap .col-md-8,
.wpp-advanced-supermap .col-md-9,
.wpp-advanced-supermap .col-md-10,
.wpp-advanced-supermap .col-md-11,
.wpp-advanced-supermap .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
.wpp-advanced-supermap .sm-google-map {
  display: block;
  widht: 100%;
  height: 100%;
}
.wpp-advanced-supermap .sm-search-layer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99;
}
.wpp-advanced-supermap .table-striped > tbody {
  overflow-x: auto;
}
.wpp-advanced-supermap .table-striped > tbody > tr {
  cursor: pointer;
}
.wpp-advanced-supermap .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: transparent;
}
.wpp-advanced-supermap .table-striped > tbody > tr:hover {
  background-color: #f3f0e9;
}
.wpp-advanced-supermap .table-striped > tbody > tr.st-selected {
  background-color: #f3f0e9;
}
